# Datos centrales de carbón arrancadas

Los datos de programación diaria de generación a nivel de central (UPROG) no se publican en la web pública de esios a diario, si no en la web de agentes, en el fichero P48_cierre. El dato se hace público al 90 día transcurrido.

Mi empresa, como agentes de mercado, dispone de esta información a diario y la almacenamos en sql. A través del siguiente código MySql, he descargado los datos calculando cuántas centrales había arrancadas cada día en cada hora y posteriormente lo he guardado en el .csv adjunto en el repositorio en el apartado datos.

~~~~sql
SELECT
      COUNT(DISTINCT(id_uprog)) AS NUM_PLANTAS
      ,format([FECHASESION],'yyyy-MM-dd') + ' ' + format([HORA]-1,'00') + ':00:00' AS datetime
      FROM [BBDD]  -- representa la bbdd de nuestro servidor
      where id_uprog in ('','',...)  -- lista de unidades. Existen 26 centrales de carbón activas en España
and fechasesion between '20150930' and '20180930'

GROUP BY datetime
 
~~~~

En este notebook leo los datos del .csv y los cargo en un nuevo dataframe.

## 1. Importamos librerías necesarias

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta

## 2. Lectura y testeo de datos

In [2]:
carbon=pd.read_csv("../data/P48.csv",sep=";")
carbon.head()

       datetime  NUM_PLANTAS
0  30/9/15 0:00           22
1  30/9/15 1:00           22
2  30/9/15 2:00           22
3  30/9/15 3:00           23
4  30/9/15 4:00           23

Como feature no quiero las centrales de carbón arrancadas en el día, ya que no es un dato que tenga y pueda utilizar como entrada para predecir la subida/bajada del precio del intradiario (cuando debo apostar todavía no sé la casación ni qué centrales estarán).

Lo que utilizaré como input será qué centrales había arrancadas el día anterior. El hecho de que una central ya esté arrancada puede condicionar el comportamiento del intradiario al día siguiente en función del precio del MD resultante.

Por tanto, sumaré un día a datetime, de tal manera que para el día 01/10/2015 el dato que me muestre sea el nº de centrales de carbón arrancadas el 30/09/2015.

In [3]:
carbon.dtypes

datetime       object
NUM_PLANTAS     int64
dtype: object

In [4]:
carbon['datetime']=pd.to_datetime(carbon['datetime'],dayfirst=True)

In [5]:
#Unificamos formato

carbon['datetime']=[x.strftime('%Y-%m-%d %H:%M:%S') for x in carbon['datetime']]

In [6]:
pd.to_datetime?

Signature: pd.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, box=True, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=False)
Docstring:
Convert argument to datetime.

Parameters
----------
arg : integer, float, string, datetime, list, tuple, 1-d array, Series

    .. versionadded:: 0.18.1

       or DataFrame/dict-like

errors : {'ignore', 'raise', 'coerce'}, default 'raise'

    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaT
    - If 'ignore', then invalid parsing will return the input
dayfirst : boolean, default False
    Specify a date parse order if `arg` is str or its list-likes.
    If True, parses dates with the day first, eg 10/11/12 is parsed as
    2012-11-10.
    Warning: dayfirst=True is not strict, but will prefer to parse
    with day first (this is a known bug, based on dateutil behavior).
yearfirst : boolean, default False
    Specify a date parse order if `arg` is str or its list-likes.

    - If True parses dates with the year first, eg 10/11/12 is parsed as
      2010-11-12.
    - If both dayfirst and yearfirst are True, yearfirst is preceded (same
      as dateutil).

    Warning: yearfirst=True is not strict, but will prefer to parse
    with year first (this is a known bug, based on dateutil beahavior).

    .. versionadded:: 0.16.1

utc : boolean, default None
    Return UTC DatetimeIndex if True (converting any tz-aware
    datetime.datetime objects as well).
box : boolean, default True

    - If True returns a DatetimeIndex
    - If False returns ndarray of values.
format : string, default None
    strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
    all the way up to nanoseconds.
exact : boolean, True by default

    - If True, require an exact format match.
    - If False, allow the format to match anywhere in the target string.

unit : string, default 'ns'
    unit of the arg (D,s,ms,us,ns) denote the unit, which is an
    integer or float number. This will be based off the origin.
    Example, with unit='ms' and origin='unix' (the default), this
    would calculate the number of milliseconds to the unix epoch start.
infer_datetime_format : boolean, default False
    If True and no `format` is given, attempt to infer the format of the
    datetime strings, and if it can be inferred, switch to a faster
    method of parsing them. In some cases this can increase the parsing
    speed by ~5-10x.
origin : scalar, default is 'unix'
    Define the reference date. The numeric values would be parsed as number
    of units (defined by `unit`) since this reference date.

    - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
    - If 'julian', unit must be 'D', and origin is set to beginning of
      Julian Calendar. Julian day number 0 is assigned to the day starting
      at noon on January 1, 4713 BC.
    - If Timestamp convertible, origin is set to Timestamp identified by
      origin.

    .. versionadded:: 0.20.0
cache : boolean, default False
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce sigificant speed-up when parsing duplicate date
    strings, especially ones with timezone offsets.

    .. versionadded:: 0.23.0

Returns
-------
ret : datetime if parsing succeeded.
    Return type depends on input:

    - list-like: DatetimeIndex
    - Series: Series of datetime64 dtype
    - scalar: Timestamp

    In case when it is not possible to return designated types (e.g. when
    any element of input is before Timestamp.min or after Timestamp.max)
    return will have datetime.datetime type (or corresponding
    array/Series).

Examples
--------
Assembling a datetime from multiple columns of a DataFrame. The keys can be
common abbreviations like ['year', 'month', 'day', 'minute', 'second',
'ms', 'us', 'ns']) or plurals of the same

>>> df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})
>>> pd.to_datetime(df)
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

If a date does not meet the `timestamp limitations
<http://pandas.pydata.org/pandas-docs/stable/timeseries.html
#timeseries-timestamp-limits>`_, passing errors='ignore'
will return the original input instead of raising any exception.

Passing errors='coerce' will force an out-of-bounds date to NaT,
in addition to forcing non-dates (or non-parseable dates) to NaT.

>>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
datetime.datetime(1300, 1, 1, 0, 0)
>>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
NaT

Passing infer_datetime_format=True can often-times speedup a parsing
if its not an ISO8601 format exactly, but in a regular format.

>>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

>>> s.head()
0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

>>> %timeit pd.to_datetime(s,infer_datetime_format=True)
100 loops, best of 3: 10.4 ms per loop

>>> %timeit pd.to_datetime(s,infer_datetime_format=False)
1 loop, best of 3: 471 ms per loop

Using a unix epoch time

>>> pd.to_datetime(1490195805, unit='s')
Timestamp('2017-03-22 15:16:45')
>>> pd.to_datetime(1490195805433502912, unit='ns')
Timestamp('2017-03-22 15:16:45.433502912')

.. warning:: For float arg, precision rounding might happen. To prevent
    unexpected behavior use a fixed-width exact type.

Using a non-unix epoch origin

>>> pd.to_datetime([1, 2, 3], unit='D',
                   origin=pd.Timestamp('1960-01-01'))
0    1960-01-02
1    1960-01-03
2    1960-01-04

See also
--------
pandas.DataFrame.astype : Cast argument to a specified dtype.
pandas.to_timedelta : Convert argument to timedelta.
File:      /anaconda3/lib/python3.6/site-packages/pandas/core/tools/datetimes.py
Type:      function

In [9]:
carbon['datetime']=pd.to_datetime(carbon['datetime'])
carbon.dtypes

datetime       datetime64[ns]
NUM_PLANTAS             int64
dtype: object

In [10]:
dia=timedelta(days=1)  #nº días que vamos a sumar para crear nuestra columna adicional

In [11]:
carbon['aux']=[x+dia for x in carbon['datetime']]
carbon.head()

             datetime  NUM_PLANTAS                 aux
0 2015-09-30 00:00:00           22 2015-10-01 00:00:00
1 2015-09-30 01:00:00           22 2015-10-01 01:00:00
2 2015-09-30 02:00:00           22 2015-10-01 02:00:00
3 2015-09-30 03:00:00           23 2015-10-01 03:00:00
4 2015-09-30 04:00:00           23 2015-10-01 04:00:00

In [12]:
carbon.tail()

                 datetime  NUM_PLANTAS                 aux
26323 2018-09-30 19:00:00           13 2018-10-01 19:00:00
26324 2018-09-30 20:00:00           13 2018-10-01 20:00:00
26325 2018-09-30 21:00:00           13 2018-10-01 21:00:00
26326 2018-09-30 22:00:00           13 2018-10-01 22:00:00
26327 2018-09-30 23:00:00           13 2018-10-01 23:00:00

Las últimas 24 horas me sobran, mi histórico de datos (columna aux) la he parado en 30/09/2018. Los últimos 24 datos serían los que ayudarían a predecir el mercado del día 01/10/2018.

In [13]:
carbon_data=carbon[['aux','NUM_PLANTAS']]

In [14]:
ult_dia=pd.to_datetime('2018-10-01 00:00')

carbon_data2 = carbon_data[(carbon_data['aux']<ult_dia)]

In [15]:
carbon_data2.shape

(26304, 2)

In [16]:
carbon_data2[carbon_data2['aux'].duplicated()==True]

                      aux  NUM_PLANTAS
603   2015-10-26 02:00:00           18
9507  2016-10-31 02:00:00           19
18243 2017-10-30 02:00:00           10

Al haber añadido 1 día, los días de 25 horas no me van a coincidir con los reales. Tendré que tenerlo en cuenta a la hora de unificar datos eliminando por separado duplicados.

Lo mismo pasará con los de 23 h. Me surgirán NaN en ambos historicos

In [17]:
carbon_dia_ant=carbon_data2.rename(columns={'aux':'datetime','NUM_PLANTAS':'NUM_PLANTAS_D-1'})

In [18]:
carbon_dia_ant.set_index('datetime',inplace=True)

In [19]:
carbon_dia_ant.head()

                     NUM_PLANTAS_D-1
datetime
2015-10-01 00:00:00               22
2015-10-01 01:00:00               22
2015-10-01 02:00:00               22
2015-10-01 03:00:00               23
2015-10-01 04:00:00               23

In [20]:
carbon_dia_ant.shape  #sin NaN

(26304, 1)

In [21]:
carbon_dia_ant['NUM_PLANTAS_D-1'].count()

26304

## 3. Guardamos en csv

In [52]:
carbon_dia_ant.to_csv('../data/carbon_dia_ant.csv',sep=';')