# Datos centrales de carbón arrancadas

Los datos de programación diaria de generación a nivel de central (UPROG) no se publican en la web pública de esios a diario, si no en la web de agentes, en el fichero P48_cierre. El dato se hace público al 90 día transcurrido.

Mi empresa, como agentes de mercado, dispone de esta información a diario y la almacenamos en sql. A través del siguiente código MySql, he descargado los datos calculando cuántas centrales había arrancadas cada día en cada hora y posteriormente lo he guardado en el .csv adjunto en el repositorio en el apartado datos.

~~~~sql
SELECT
      COUNT(DISTINCT(id_uprog)) AS NUM_PLANTAS
      ,format([FECHASESION],'yyyy-MM-dd') + ' ' + format([HORA]-1,'00') + ':00:00' AS datetime
      FROM [BBDD]  -- representa la bbdd de nuestro servidor
      where id_uprog in ('','',...)  -- lista de unidades. Existen 26 centrales de carbón activas en España
and fechasesion between '20151001' and '20180930'

GROUP BY datetime
 
~~~~

En este notebook leo los datos del .csv y los cargo en un nuevo dataframe.

## 1. Importamos librerías necesarias

In [12]:
import pandas as pd
import numpy as np

## 2. Lectura y testeo de datos

In [13]:
carbon=pd.read_csv("../data/P48.csv",sep=";")

In [14]:
carbon.head()  #paso la columna datetime como índice

              datetime  NUM_PLANTAS
0  2015-10-01 00:00:00           23
1  2015-10-01 01:00:00           23
2  2015-10-01 02:00:00           23
3  2015-10-01 03:00:00           23
4  2015-10-01 04:00:00           23

In [15]:
carbon_data=carbon.set_index('datetime')

In [16]:
carbon_data.head()

                     NUM_PLANTAS
datetime
2015-10-01 00:00:00           23
2015-10-01 01:00:00           23
2015-10-01 02:00:00           23
2015-10-01 03:00:00           23
2015-10-01 04:00:00           23

In [17]:
carbon_data.describe()

        NUM_PLANTAS
count  26304.000000
mean      13.696396
std        6.257582
min        2.000000
25%        8.000000
50%       15.000000
75%       19.000000
max       25.000000

In [18]:
carbon_data.shape  #sin NaN

(26304, 1)