# Data set final

## Unificamos

Con todos los .csv recopilados en la carpeta *data* y alguna conversión o columna añadida, se unifican los datos en un único dataset que guardaré en la carpeta *data processed*, para analizar los features seleccionados

## 1. Importamos librerías necesarias

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
import matplotlib.pyplot as plt

import seaborn as sb
%matplotlib inline

In [2]:
pd.options.display.max_columns=None

### 2. Primer dataset: datos procedentes de la web pública de esios

In [3]:
df_esios=pd.read_csv('../data/datos_esios.csv', sep=';',parse_dates=['datetime'])
df_esios.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42

In [4]:
df_esios.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2
count,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000
mean,5476.657615,28672.335722,4413.087348,4421.192005,4189.052822,48.745913,42.104412,48.474281,48.483520
std,3185.745755,4615.591310,2217.773186,474.661673,469.408867,14.950758,20.792168,15.091625,15.106957
min,240.800000,17728.400000,546.000000,2461.500000,2315.100000,2.060000,-31.820000,0.000000,0.000000
25%,3015.600000,24733.475000,2318.000000,4125.800000,3797.900000,40.140000,29.747500,40.050000,40.100000
50%,4820.250000,28921.700000,4636.800000,4483.200000,4148.100000,49.565000,39.170000,49.000000,48.970000
75%,7285.800000,32265.825000,6286.600000,4799.700000,4705.300000,59.450000,51.560000,58.900000,58.742500
max,16952.600000,41297.900000,8768.300000,9481.400000,8270.600000,101.990000,874.010000,102.490000,103.610000

In [5]:
df_esios.dtypes

datetime              datetime64[ns]
P48_EOLICA                   float64
P48_DEMANDA                  float64
P48_CARBON                   float64
POT_DISP_HULLA_ANT           float64
POT_DISP_HULA_SB             float64
PRECIO_MD_ESP                float64
PRECIO_MD_FR                 float64
PRECIO_I1                    float64
PRECIO_I2                    float64
dtype: object

In [6]:
df_esios['datetime'].describe()

count                   26328
unique                  26325
top       2017-10-29 02:00:00
freq                        2
first     2015-09-30 00:00:00
last      2018-09-30 23:00:00
Name: datetime, dtype: object

**Tenemos repetidos los datos para el dia de 25 horas**

    *Recordatorio: esios duplica el periodo 02:00:00 para indicar el cambio de hora el últ. dom. de oct.*

El día de 23 horas en el histórico de carbón no tenía dato para el "aaaa-mm-dd 23:00:00"

¿Cómo lo trata esios?

In [7]:
df_esios[(df_esios['datetime']>='2018-03-25') & (df_esios['datetime']<'2018-03-26')]

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2
21769,2018-03-25 00:00:00,11904.2,27162.7,1484.8,4097.2,4353.1,46.74,46.74,43.54,47.75
21770,2018-03-25 01:00:00,11409.6,24877.9,1437.4,4097.2,4353.1,45.00,46.00,38.31,45.00
21771,2018-03-25 03:00:00,10943.7,22989.2,1410.5,4097.2,4353.1,37.85,37.85,33.38,33.39
21772,2018-03-25 04:00:00,10172.6,22356.1,1402.6,4097.2,4353.1,37.28,37.28,34.23,37.78
21773,2018-03-25 05:00:00,9692.4,22181.0,1359.9,4097.2,4353.1,37.24,37.24,34.14,36.24
21774,2018-03-25 06:00:00,9425.0,22418.4,1355.9,4097.2,4353.1,38.00,38.00,34.45,34.46
21775,2018-03-25 07:00:00,9159.9,23287.7,1293.8,4097.2,4353.1,39.60,39.60,36.00,35.59
21776,2018-03-25 08:00:00,9047.1,23149.9,1310.0,4097.2,4353.1,42.23,42.23,38.31,37.73
21777,2018-03-25 09:00:00,9117.1,24774.3,1276.0,4097.2,4353.1,45.45,45.45,42.45,40.95
21778,2018-03-25 10:00:00,9139.7,27007.1,1418.2,4097.2,4353.1,46.36,46.36,43.70,43.36
21779,2018-03-25 11:00:00,8332.4,28565.7,1375.3,4097.2,4353.1,46.17,46.17,44.65,44.44
21780,2018-03-25 12:00:00,8298.0,29193.2,1511.2,4097.2,4353.1,45.70,45.70,44.18,44.55
21781,2018-03-25 13:00:00,8325.7,29130.5,1403.4,4097.2,4353.1,42.10,42.10,40.60,41.00
21782,2018-03-25 14:00:00,8614.2,28788.2,1484.2,4097.2,4353.1,37.95,37.95,36.50,37.00
21783,2018-03-25 15:00:00,8591.9,27602.6,1398.4,4097.2,4353.1,34.90,34.90,33.40,33.41
21784,2018-03-25 16:00:00,8941.0,26624.0,1411.7,4097.2,4353.1,36.00,36.00,34.50,33.51
21785,2018-03-25 17:00:00,9120.8,26255.1,1364.1,4097.2,4353.1,36.86,36.86,35.36,34.36
21786,2018-03-25 18:00:00,8817.3,26471.2,1288.0,4097.2,4353.1,41.38,41.38,38.31,37.38
21787,2018-03-25 19:00:00,8253.5,27548.6,1153.6,4097.2,4353.1,45.16,45.16,42.00,40.16
21788,2018-03-25 20:00:00,7871.5,30617.7,1622.5,4097.2,4353.1,53.12,53.12,50.12,50.46
21789,2018-03-25 21:00:00,7338.0,31929.2,1728.5,4097.2,4353.1,54.02,54.02,52.93,52.02
21790,2018-03-25 22:00:00,7205.0,30826.4,1571.0,4097.2,4002.3,53.24,53.24,52.90,52.58
21791,2018-03-25 23:00:00,7220.4,28822.3,1368.2,4097.2,4002.3,49.39,49.39,49.87,49.98

**El día de 23 horas en esios no tiene dato para el "aaaa-mm-dd 02:00:00. Habrá que tenerlo en cuenta al unificar**

#### 1) Columna a predecir:

"RESERVA"

Nuestra clasificación será:

* Si PMI1 > PMD -> 0: compramos toda nuestra previsión en el MD.

* Si PMI1 < PMD -> 1: "reservamos" una parte de nuestra energía y la compramos en el MI1.

* Si PMI1 == PMD:

    * Si PMI2 > PMD -> 0
    * Si PMI2 <= PMD -> 1

En la descarga y exploración de datos de esios se obtuvo que de los 26.328 datos, hay 3.498 casos en los que el precio del mercado diario coincidió con el del intra, y de esos, 794 horas en las que además el intradiario 2 tampoco subió/bajó con respecto al diario.

In [8]:
#Seleccionamos las columnas relacionadas con precios
df_esios_precio=df_esios[['PRECIO_MD_ESP','PRECIO_I1','PRECIO_I2','PRECIO_MD_FR']]

In [9]:
def reserva(lista):
    if (lista[0]<lista[1]) | ((lista[0]==lista[1]) & (lista[2]>lista[1])):
        reserva=0
    else:
        reserva=1 
    return reserva

In [10]:
df_esios['RESERVA']=pd.Series(df_esios_precio.apply(reserva,axis=1))

In [11]:
df_esios.sample(10)  #comprobamos aleatoriamente que ok

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA
17726,2017-10-07 14:00:00,3078.1,27910.4,5097.1,3827.2,4003.7,56.15,37.02,57.65,60.10,0
3213,2016-02-10 20:00:00,14119.0,35236.1,1810.8,4971.5,4705.3,39.43,39.43,38.60,39.00,1
5325,2016-05-08 21:00:00,9293.4,27640.0,788.5,3951.2,4354.3,12.89,20.02,12.89,12.89,1
14522,2017-05-27 02:00:00,3510.5,23860.0,5982.4,4529.7,4353.1,53.25,27.60,50.15,41.21,1
3110,2016-02-06 13:00:00,11077.8,30726.3,1563.6,4971.5,4705.3,29.10,16.01,31.14,30.10,0
4942,2016-04-22 22:00:00,2188.9,29107.0,1495.6,2761.2,4354.3,37.00,27.94,37.00,40.10,0
17722,2017-10-07 10:00:00,4126.4,27799.9,5065.8,3827.2,4003.7,55.00,46.44,55.02,57.00,0
7689,2016-08-15 09:00:00,2692.1,23070.4,2838.1,3946.2,4410.3,43.19,30.59,41.19,40.60,1
15752,2017-07-17 08:00:00,5221.4,31735.0,6605.1,4454.6,4705.3,48.18,42.11,51.18,53.00,0
12653,2017-03-10 04:00:00,3913.2,22586.8,2085.5,4463.5,3796.4,40.74,27.78,39.54,40.74,1

#### 2) Interconexión

Creamos columna ACOPLADO_FR:

* Si Precio FR MD == Precio España MD, están acoplados (1) sino no (0).

In [12]:
def interconexion(lista):
    if (lista[0]==lista[3]):
        acoplado=1
    else:
        acoplado=0 
    return acoplado

In [13]:
df_esios['ACOPLADO_FR']=pd.Series(df_esios_precio.apply(interconexion,axis=1))

In [14]:
df_esios.sample(10) #comprobamos aleatoriamente que ok

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR
23088,2018-05-19 00:00:00,5005.8,25010.1,2546.0,4529.7,4353.9,61.30,44.37,62.50,60.28,0,0
8620,2016-09-23 04:00:00,1925.0,22972.2,6512.0,4293.6,4143.3,39.23,25.62,41.42,38.05,0,0
23594,2018-06-09 02:00:00,2598.3,22873.3,3110.2,4182.0,3783.9,61.10,35.77,55.57,55.35,1,0
2007,2015-12-22 14:00:00,5495.9,31353.5,6375.8,4990.3,3590.6,56.70,33.09,56.70,55.55,1,0
23444,2018-06-02 20:00:00,2429.1,25606.6,4592.1,4799.7,4353.9,64.29,28.23,63.28,62.63,1,0
18152,2017-10-25 08:00:00,2482.3,31329.2,5992.9,3768.5,3223.1,68.93,68.93,66.90,66.93,1,1
19873,2018-01-05 00:00:00,11786.6,26288.4,976.0,4799.7,4705.3,30.00,16.67,44.66,34.85,0,0
4849,2016-04-19 01:00:00,8845.3,24245.7,1100.5,2997.3,4354.3,8.99,19.69,7.99,0.00,1,0
3168,2016-02-08 23:00:00,12703.0,28864.0,1312.7,4971.5,4705.3,25.80,17.95,26.01,30.01,0,0
24824,2018-07-30 08:00:00,2304.0,29673.8,4555.4,4471.4,4011.9,65.70,60.99,61.07,62.65,1,0

#### 3) MW Carbón disponible

Sumamos la potencia disponible de carbón (La teníamos separada por tipo de carbón). 

Nos interesa el total de MW disponibles.

In [15]:
df_esios['POT_DISP_CARBON']=[x['POT_DISP_HULLA_ANT'] + x['POT_DISP_HULA_SB'] for _,x in df_esios.iterrows()]
df_esios.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7

#### 4) Datos pasados

Necesito el carbón casado el día anterior (ya que el carbón que se va a casar ese día no lo conocemos) así que tengo que sumar 1 día a la fecha para la columna P48_CARBON, creando la columna adicional P48_CARBON_D-1

Aprovecho esta operación para crear la columna RESULTADO D-1 que es la columna RESERVA del día anterior.

In [16]:
#Cogemos los datos que tenemos que trasladar 1 día

df_esios_ant= df_esios[['datetime','P48_CARBON','RESERVA']].copy()
df_esios_ant.head()

             datetime  P48_CARBON  RESERVA
0 2015-09-30 00:00:00      7181.4        0
1 2015-09-30 01:00:00      6771.7        0
2 2015-09-30 02:00:00      6559.5        0
3 2015-09-30 03:00:00      6560.4        0
4 2015-09-30 04:00:00      6724.1        0

In [17]:
df_esios_ant.dtypes

datetime      datetime64[ns]
P48_CARBON           float64
RESERVA                int64
dtype: object

In [18]:
dia=timedelta(days=1) 

df_esios_ant['datetime']=pd.Series([x + dia for x in df_esios_ant['datetime']])
df_esios_ant.tail()

                 datetime  P48_CARBON  RESERVA
26323 2018-10-01 19:00:00      4861.1        0
26324 2018-10-01 20:00:00      4782.9        0
26325 2018-10-01 21:00:00      4826.0        0
26326 2018-10-01 22:00:00      4169.8        1
26327 2018-10-01 23:00:00      3775.5        1

In [19]:
df_esios_ant.head()

             datetime  P48_CARBON  RESERVA
0 2015-10-01 00:00:00      7181.4        0
1 2015-10-01 01:00:00      6771.7        0
2 2015-10-01 02:00:00      6559.5        0
3 2015-10-01 03:00:00      6560.4        0
4 2015-10-01 04:00:00      6724.1        0

In [20]:
#Renombramos columnas

df_esios_ant.columns=['datetime','P48_CARBON_D-1','RESERVA_D-1']
df_esios_ant.head()

             datetime  P48_CARBON_D-1  RESERVA_D-1
0 2015-10-01 00:00:00          7181.4            0
1 2015-10-01 01:00:00          6771.7            0
2 2015-10-01 02:00:00          6559.5            0
3 2015-10-01 03:00:00          6560.4            0
4 2015-10-01 04:00:00          6724.1            0

In [21]:
df_esios_ant.dtypes

datetime          datetime64[ns]
P48_CARBON_D-1           float64
RESERVA_D-1                int64
dtype: object

In [22]:
df_esios2=df_esios.merge(df_esios_ant,how='left',on='datetime') #me quedo con la izq que son las fechas originales
df_esios2.head(48)

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7,NaN,NaN
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7,NaN,NaN
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7,NaN,NaN
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7,NaN,NaN
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7,NaN,NaN
5,2015-09-30 05:00:00,2777.9,22370.5,7174.6,5355.4,4705.3,45.65,30.55,50.65,50.65,0,0,10060.7,NaN,NaN
6,2015-09-30 06:00:00,2522.1,24532.6,7955.3,5355.4,4705.3,52.00,42.93,56.13,54.31,0,0,10060.7,NaN,NaN
7,2015-09-30 07:00:00,2303.5,27986.9,8281.3,5355.4,4705.3,59.90,53.78,62.00,62.40,0,0,10060.7,NaN,NaN
8,2015-09-30 08:00:00,2141.9,29690.2,8304.3,5355.4,4705.3,60.01,55.50,61.71,62.51,0,0,10060.7,NaN,NaN
9,2015-09-30 09:00:00,1980.8,30192.1,8263.3,5355.4,4705.3,60.60,49.27,62.86,63.03,0,0,10060.7,NaN,NaN
10,2015-09-30 10:00:00,1877.2,30715.9,8063.3,5355.4,4705.3,60.01,45.51,60.14,60.59,0,0,10060.7,NaN,NaN
11,2015-09-30 11:00:00,1832.2,31121.8,8274.3,5355.4,4705.3,59.10,43.22,59.10,59.69,0,0,10060.7,NaN,NaN
12,2015-09-30 12:00:00,1944.6,31407.3,7935.3,5355.4,4705.3,58.90,43.63,58.90,59.09,0,0,10060.7,NaN,NaN
13,2015-09-30 13:00:00,2126.1,31400.4,8037.3,5355.4,4705.3,59.99,38.28,59.99,59.99,1,0,10060.7,NaN,NaN
14,2015-09-30 14:00:00,2394.0,30196.3,8278.3,5355.4,4705.3,57.00,38.25,57.00,57.80,0,0,10060.7,NaN,NaN
15,2015-09-30 15:00:00,2418.5,29667.8,8259.7,5355.4,4705.3,56.57,34.14,56.80,56.80,0,0,10060.7,NaN,NaN
16,2015-09-30 16:00:00,2507.1,29445.0,8083.3,5355.4,4705.3,57.00,33.89,58.65,59.31,0,0,10060.7,NaN,NaN
17,2015-09-30 17:00:00,2486.2,29636.8,8237.3,5355.4,4705.3,58.90,43.01,60.01,60.52,0,0,10060.7,NaN,NaN
18,2015-09-30 18:00:00,2358.1,29376.0,8297.3,5355.4,4705.3,59.31,50.00,60.53,60.48,0,0,10060.7,NaN,NaN
19,2015-09-30 19:00:00,2303.3,29704.5,8347.0,5355.4,4705.3,59.10,58.00,59.10,60.28,0,0,10060.7,NaN,NaN
20,2015-09-30 20:00:00,2262.0,32132.5,8299.6,5355.4,4705.3,64.11,51.39,63.11,64.11,1,0,10060.7,NaN,NaN
21,2015-09-30 21:00:00,2077.8,31941.3,8352.3,5355.4,4705.3,68.48,46.79,66.43,66.48,1,0,10060.7,NaN,NaN
22,2015-09-30 22:00:00,2197.6,28663.7,8300.3,5355.4,4705.3,58.90,43.94,59.58,59.58,0,0,10060.7,NaN,NaN
23,2015-09-30 23:00:00,2253.1,26220.8,8265.3,5355.4,4705.3,58.90,41.43,60.01,60.52,0,0,10060.7,NaN,NaN
24,2015-10-01 00:00:00,2196.1,24517.1,8203.3,5355.4,4705.3,56.65,38.56,56.31,58.30,1,0,10060.7,7181.4,0.0
25,2015-10-01 01:00:00,2064.4,23168.6,8286.8,5355.4,4705.3,53.50,31.27,54.25,56.60,0,0,10060.7,6771.7,0.0
26,2015-10-01 02:00:00,1866.5,22437.2,8301.3,5355.4,4705.3,49.69,30.66,49.69,51.58,0,0,10060.7,6559.5,0.0
27,2015-10-01 03:00:00,1660.9,22281.3,8281.3,5355.4,4705.3,49.10,29.14,49.10,49.57,0,0,10060.7,6560.4,0.0
28,2015-10-01 04:00:00,1373.9,21909.7,8247.7,5355.4,4705.3,51.25,29.40,51.25,52.00,0,0,10060.7,6724.1,0.0
29,2015-10-01 05:00:00,1327.0,22183.9,8223.3,5355.4,4705.3,53.60,32.87,53.74,54.09,0,0,10060.7,7174.6,0.0
30,2015-10-01 06:00:00,1347.4,24139.8,8014.0,5355.4,4705.3,58.02,44.97,58.02,58.52,0,0,10060.7,7955.3,0.0
31,2015-10-01 07:00:00,1363.3,28141.4,8102.1,5355.4,4705.3,63.03,56.00,62.82,63.03,1,0,10060.7,8281.3,0.0
32,2015-10-01 08:00:00,1364.5,29311.3,8079.3,5355.4,4705.3,63.56,59.06,63.56,63.56,1,0,10060.7,8304.3,0.0
33,2015-10-01 09:00:00,1278.9,29899.4,8282.3,5355.4,4705.3,64.66,49.02,64.66,64.66,1,0,10060.7,8263.3,0.0
34,2015-10-01 10:00:00,1162.9,30370.7,7825.3,5355.4,4705.3,63.90,43.15,63.40,62.90,1,0,10060.7,8063.3,0.0
35,2015-10-01 11:00:00,1145.1,30767.9,8121.9,5355.4,4705.3,61.90,41.73,62.22,61.90,0,0,10060.7,8274.3,0.0
36,2015-10-01 12:00:00,1402.0,31452.4,8112.3,5355.4,4705.3,60.90,43.93,62.00,60.90,0,0,10060.7,7935.3,0.0
37,2015-10-01 13:00:00,1948.7,31464.0,8326.1,5355.4,4705.3,59.80,39.21,61.33,59.80,0,0,10060.7,8037.3,1.0
38,2015-10-01 14:00:00,2593.9,30205.9,8191.3,5355.4,4705.3,56.80,34.28,58.00,56.80,0,0,10060.7,8278.3,0.0
39,2015-10-01 15:00:00,3245.2,29999.4,8311.5,5355.4,4705.3,53.60,34.51,55.00,53.60,0,0,10060.7,8259.7,0.0
40,2015-10-01 16:00:00,3658.4,29814.9,8415.3,5355.4,4705.3,53.50,36.38,55.00,53.30,0,0,10060.7,8083.3,0.0
41,2015-10-01 17:00:00,3903.7,30029.1,8295.8,5355.4,4570.3,54.90,44.48,55.90,54.90,0,0,9925.7,8237.3,0.0
42,2015-10-01 18:00:00,3966.8,29785.5,7339.6,5065.4,4570.3,55.26,51.57,56.00,55.06,0,0,9635.7,8297.3,0.0
43,2015-10-01 19:00:00,3928.2,30157.7,7220.3,5065.4,4705.3,61.00,61.00,62.22,61.02,0,1,9770.7,8347.0,0.0
44,2015-10-01 20:00:00,3792.4,32257.8,7754.9,5065.4,4705.3,61.69,55.00,63.40,63.00,0,0,9770.7,8299.6,1.0
45,2015-10-01 21:00:00,3672.3,32103.4,7948.0,5065.4,4705.3,61.00,44.95,63.00,62.36,0,0,9770.7,8352.3,1.0
46,2015-10-01 22:00:00,3462.3,28472.9,7883.3,5065.4,4705.3,56.80,43.03,57.80,56.80,0,0,9770.7,8300.3,0.0
47,2015-10-01 23:00:00,3163.7,26178.8,7919.3,5065.4,4705.3,53.00,41.79,53.71,53.00,0,0,9770.7,8265.3,0.0

In [23]:
df_esios2.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1
count,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26331.000000,26304.000000,26304.000000
mean,5476.605773,28671.363533,4413.035365,4421.179348,4189.012054,48.744626,42.103448,48.472613,48.482504,0.575254,0.247351,8610.191402,4413.375760,0.575084
std,3185.681852,4616.227610,2217.698777,474.655384,469.404180,14.950544,20.791183,15.091813,15.106612,0.494314,0.431481,752.710342,2218.573581,0.494340
min,240.800000,17728.400000,546.000000,2461.500000,2315.100000,2.060000,-31.820000,0.000000,0.000000,0.000000,0.000000,5693.700000,546.000000,0.000000
25%,3015.500000,24732.250000,2318.000000,4125.800000,3797.900000,40.140000,29.750000,40.050000,40.100000,0.000000,0.000000,8121.600000,2317.725000,0.000000
50%,4820.300000,28920.700000,4636.600000,4483.200000,4148.100000,49.560000,39.170000,49.000000,48.960000,1.000000,0.000000,8679.100000,4637.150000,1.000000
75%,7285.900000,32265.750000,6286.250000,4799.700000,4705.300000,59.450000,51.555000,58.900000,58.740000,1.000000,0.000000,9153.600000,6289.725000,1.000000
max,16952.600000,41297.900000,8768.300000,9481.400000,8270.600000,101.990000,874.010000,102.490000,103.610000,1.000000,1.000000,17752.000000,8768.300000,1.000000

Esperamos a unir todos los datos para comenzar con el tratamiento de duplicados, NaN etc.

Por haber sumado un día "a capón" se me trasladan 1 fecha los días de 23/25 horas y al hacer el merge aparecen duplicados en la izq y NaN en la derecha

#### 5) Num centrales en D-1

Está guardado en el fichero .csv *carbon_dia_ant.csv* en la carpeta data.

Cuando se descargaron del csv original (P48) que contenía el número de centrales por día, se transformó a un nuevo fichero *carbón_dia_ant.csv* (en la misma carpeta) en el que se muestra el número de centrales arrancadas el día anterior. Para ello se programó el notebook carbón_D-1.ipynb

El periodo ya está adaptado a la fecha inicial y final de nuestro conjunto

In [24]:
df_centrales_carbon=pd.read_csv('../data/carbon_dia_ant.csv', sep=';',parse_dates=['datetime'])
df_centrales_carbon.head()

             datetime  NUM_PLANTAS_D-1
0 2015-10-01 00:00:00               22
1 2015-10-01 01:00:00               22
2 2015-10-01 02:00:00               22
3 2015-10-01 03:00:00               23
4 2015-10-01 04:00:00               23

In [25]:
df_centrales_carbon.tail()

                 datetime  NUM_PLANTAS_D-1
26299 2018-09-30 19:00:00               17
26300 2018-09-30 20:00:00               17
26301 2018-09-30 21:00:00               17
26302 2018-09-30 22:00:00               17
26303 2018-09-30 23:00:00               17

In [26]:
df_centrales_carbon.dtypes

datetime           datetime64[ns]
NUM_PLANTAS_D-1             int64
dtype: object

In [27]:
#Uno con el mismo criterio anterior
df_esios3=df_esios2.merge(df_centrales_carbon,how='left',on='datetime')
df_esios3.head(35)

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7,NaN,NaN,NaN
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7,NaN,NaN,NaN
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7,NaN,NaN,NaN
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7,NaN,NaN,NaN
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7,NaN,NaN,NaN
5,2015-09-30 05:00:00,2777.9,22370.5,7174.6,5355.4,4705.3,45.65,30.55,50.65,50.65,0,0,10060.7,NaN,NaN,NaN
6,2015-09-30 06:00:00,2522.1,24532.6,7955.3,5355.4,4705.3,52.00,42.93,56.13,54.31,0,0,10060.7,NaN,NaN,NaN
7,2015-09-30 07:00:00,2303.5,27986.9,8281.3,5355.4,4705.3,59.90,53.78,62.00,62.40,0,0,10060.7,NaN,NaN,NaN
8,2015-09-30 08:00:00,2141.9,29690.2,8304.3,5355.4,4705.3,60.01,55.50,61.71,62.51,0,0,10060.7,NaN,NaN,NaN
9,2015-09-30 09:00:00,1980.8,30192.1,8263.3,5355.4,4705.3,60.60,49.27,62.86,63.03,0,0,10060.7,NaN,NaN,NaN
10,2015-09-30 10:00:00,1877.2,30715.9,8063.3,5355.4,4705.3,60.01,45.51,60.14,60.59,0,0,10060.7,NaN,NaN,NaN
11,2015-09-30 11:00:00,1832.2,31121.8,8274.3,5355.4,4705.3,59.10,43.22,59.10,59.69,0,0,10060.7,NaN,NaN,NaN
12,2015-09-30 12:00:00,1944.6,31407.3,7935.3,5355.4,4705.3,58.90,43.63,58.90,59.09,0,0,10060.7,NaN,NaN,NaN
13,2015-09-30 13:00:00,2126.1,31400.4,8037.3,5355.4,4705.3,59.99,38.28,59.99,59.99,1,0,10060.7,NaN,NaN,NaN
14,2015-09-30 14:00:00,2394.0,30196.3,8278.3,5355.4,4705.3,57.00,38.25,57.00,57.80,0,0,10060.7,NaN,NaN,NaN
15,2015-09-30 15:00:00,2418.5,29667.8,8259.7,5355.4,4705.3,56.57,34.14,56.80,56.80,0,0,10060.7,NaN,NaN,NaN
16,2015-09-30 16:00:00,2507.1,29445.0,8083.3,5355.4,4705.3,57.00,33.89,58.65,59.31,0,0,10060.7,NaN,NaN,NaN
17,2015-09-30 17:00:00,2486.2,29636.8,8237.3,5355.4,4705.3,58.90,43.01,60.01,60.52,0,0,10060.7,NaN,NaN,NaN
18,2015-09-30 18:00:00,2358.1,29376.0,8297.3,5355.4,4705.3,59.31,50.00,60.53,60.48,0,0,10060.7,NaN,NaN,NaN
19,2015-09-30 19:00:00,2303.3,29704.5,8347.0,5355.4,4705.3,59.10,58.00,59.10,60.28,0,0,10060.7,NaN,NaN,NaN
20,2015-09-30 20:00:00,2262.0,32132.5,8299.6,5355.4,4705.3,64.11,51.39,63.11,64.11,1,0,10060.7,NaN,NaN,NaN
21,2015-09-30 21:00:00,2077.8,31941.3,8352.3,5355.4,4705.3,68.48,46.79,66.43,66.48,1,0,10060.7,NaN,NaN,NaN
22,2015-09-30 22:00:00,2197.6,28663.7,8300.3,5355.4,4705.3,58.90,43.94,59.58,59.58,0,0,10060.7,NaN,NaN,NaN
23,2015-09-30 23:00:00,2253.1,26220.8,8265.3,5355.4,4705.3,58.90,41.43,60.01,60.52,0,0,10060.7,NaN,NaN,NaN
24,2015-10-01 00:00:00,2196.1,24517.1,8203.3,5355.4,4705.3,56.65,38.56,56.31,58.30,1,0,10060.7,7181.4,0.0,22.0
25,2015-10-01 01:00:00,2064.4,23168.6,8286.8,5355.4,4705.3,53.50,31.27,54.25,56.60,0,0,10060.7,6771.7,0.0,22.0
26,2015-10-01 02:00:00,1866.5,22437.2,8301.3,5355.4,4705.3,49.69,30.66,49.69,51.58,0,0,10060.7,6559.5,0.0,22.0
27,2015-10-01 03:00:00,1660.9,22281.3,8281.3,5355.4,4705.3,49.10,29.14,49.10,49.57,0,0,10060.7,6560.4,0.0,23.0
28,2015-10-01 04:00:00,1373.9,21909.7,8247.7,5355.4,4705.3,51.25,29.40,51.25,52.00,0,0,10060.7,6724.1,0.0,23.0
29,2015-10-01 05:00:00,1327.0,22183.9,8223.3,5355.4,4705.3,53.60,32.87,53.74,54.09,0,0,10060.7,7174.6,0.0,23.0
30,2015-10-01 06:00:00,1347.4,24139.8,8014.0,5355.4,4705.3,58.02,44.97,58.02,58.52,0,0,10060.7,7955.3,0.0,23.0
31,2015-10-01 07:00:00,1363.3,28141.4,8102.1,5355.4,4705.3,63.03,56.00,62.82,63.03,1,0,10060.7,8281.3,0.0,23.0
32,2015-10-01 08:00:00,1364.5,29311.3,8079.3,5355.4,4705.3,63.56,59.06,63.56,63.56,1,0,10060.7,8304.3,0.0,23.0
33,2015-10-01 09:00:00,1278.9,29899.4,8282.3,5355.4,4705.3,64.66,49.02,64.66,64.66,1,0,10060.7,8263.3,0.0,23.0
34,2015-10-01 10:00:00,1162.9,30370.7,7825.3,5355.4,4705.3,63.90,43.15,63.40,62.90,1,0,10060.7,8063.3,0.0,23.0

In [28]:
df_esios3.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1
count,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26310.000000,26310.000000,26310.000000
mean,5476.502122,28669.419820,4412.931435,4421.154042,4188.930546,48.742054,42.101521,48.469277,48.480474,0.575350,0.247447,8610.084588,4413.362269,0.575181,13.706803
std,3185.554082,4617.498898,2217.550000,474.642811,469.394799,14.950116,20.789213,15.092187,15.105922,0.494299,0.431537,752.717789,2218.445416,0.494325,6.262792
min,240.800000,17728.400000,546.000000,2461.500000,2315.100000,2.060000,-31.820000,0.000000,0.000000,0.000000,0.000000,5693.700000,546.000000,0.000000,2.000000
25%,3015.300000,24730.200000,2318.000000,4125.800000,3797.900000,40.140000,29.750000,40.050000,40.100000,0.000000,0.000000,8120.400000,2317.575000,0.000000,8.000000
50%,4820.500000,28919.100000,4636.400000,4483.200000,4148.100000,49.550000,39.160000,49.000000,48.960000,1.000000,0.000000,8679.100000,4637.250000,1.000000,15.000000
75%,7286.100000,32265.500000,6286.100000,4799.700000,4705.300000,59.450000,51.550000,58.900000,58.740000,1.000000,0.000000,9153.600000,6288.950000,1.000000,19.000000
max,16952.600000,41297.900000,8768.300000,9481.400000,8270.600000,101.990000,874.010000,102.490000,103.610000,1.000000,1.000000,17752.000000,8768.300000,1.000000,25.000000

Me han aparecido más duplicados a la izq del df (otros 3 por el día de 25 horas) y en este caso también a la derecha

#### 6) Hidraulicidad

Agregamos al dataset columna de reservas (Anuales e Hiperanuales) disponible en el fichero *embalses_dia.csv*, que es un tratamiento de los datos descargados directamente de REE (*EMBALSES.csv*): https://www.ree.es/es/estadisticas-del-sistema-electrico-espanol/series-estadisticas/series-estadisticas-nacionales gracias al notebook embalses.ipynb.

Los datos son diarios. Para convertirlos a horarios se asume el mismo valor en todos los periodos de un día, igual que se hizo para pasar de mensual a diario.

In [29]:
df_embalses=pd.read_csv('../data/embalses_dia.csv', sep=';')
df_embalses.head()

,datetime,mes_ano,MES,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
0,2015-10-01,10-15,oct-15,3.714,4.909
1,2015-10-02,10-15,oct-15,3.714,4.909
2,2015-10-03,10-15,oct-15,3.714,4.909
3,2015-10-04,10-15,oct-15,3.714,4.909
4,2015-10-05,10-15,oct-15,3.714,4.909

In [30]:
# Subset de las columnas datetime y Reservas

df_embalses_subset=df_embalses[['datetime','Reservas embalses anuales (GWh)','Reservas embalses hiperanuales (GWh)']]

In [31]:
df_esios3['dia']=list(map(lambda x: x.strftime('%Y-%m-%d'), df_esios3['datetime']))
df_esios3.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7,NaN,NaN,NaN,2015-09-30
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7,NaN,NaN,NaN,2015-09-30
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7,NaN,NaN,NaN,2015-09-30
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7,NaN,NaN,NaN,2015-09-30
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7,NaN,NaN,NaN,2015-09-30

In [32]:
df_esios4=df_esios3.merge(df_embalses_subset,left_on='dia',right_on='datetime',suffixes=['','_dia'])

In [33]:
#comprobamos salto de mes
df_esios4.iloc[743:753]

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
743,2015-10-31 19:00:00,4394.5,28080.5,6068.5,5064.0,4705.3,56.92,49.35,56.92,57.64,0,0,9769.3,5825.6,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
744,2015-10-31 20:00:00,4389.7,28260.3,5851.5,5064.0,4705.3,58.81,44.03,59.81,59.95,0,0,9769.3,5833.1,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
745,2015-10-31 21:00:00,4285.4,27275.2,5869.5,5064.0,4705.3,57.97,39.71,57.65,57.15,1,0,9769.3,5609.4,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
746,2015-10-31 22:00:00,4442.3,25307.1,5631.5,5064.0,4705.3,56.10,41.00,54.98,53.60,1,0,9769.3,5007.5,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
747,2015-10-31 23:00:00,4744.1,23570.7,5348.5,5064.0,4705.3,56.02,37.15,54.78,52.28,1,0,9769.3,3963.5,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
748,2015-11-01 00:00:00,4733.5,21945.0,4191.3,5064.0,4705.3,53.21,30.86,48.21,47.11,1,0,9769.3,3826.7,0.0,15.0,2015-11-01,2015-11-01,3.936,4.809
749,2015-11-01 01:00:00,5227.1,20708.7,3115.9,5064.0,4705.3,36.10,28.93,35.60,42.10,1,0,9769.3,3367.5,1.0,15.0,2015-11-01,2015-11-01,3.936,4.809
750,2015-11-01 02:00:00,5630.5,19664.8,2623.0,5064.0,4705.3,34.00,27.30,31.00,38.15,1,0,9769.3,3512.5,0.0,15.0,2015-11-01,2015-11-01,3.936,4.809
751,2015-11-01 03:00:00,6055.2,19140.6,2416.4,5064.0,4705.3,31.00,24.48,25.00,31.00,1,0,9769.3,3542.5,1.0,15.0,2015-11-01,2015-11-01,3.936,4.809
752,2015-11-01 04:00:00,6278.0,18914.6,2315.0,5064.0,4705.3,25.17,25.17,22.17,26.68,1,1,9769.3,3698.5,0.0,15.0,2015-11-01,2015-11-01,3.936,4.809

In [34]:
df_esios4.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
0,2015-10-01 00:00:00,2196.1,24517.1,8203.3,5355.4,4705.3,56.65,38.56,56.31,58.30,1,0,10060.7,7181.4,0.0,22.0,2015-10-01,2015-10-01,3.714,4.909
1,2015-10-01 01:00:00,2064.4,23168.6,8286.8,5355.4,4705.3,53.50,31.27,54.25,56.60,0,0,10060.7,6771.7,0.0,22.0,2015-10-01,2015-10-01,3.714,4.909
2,2015-10-01 02:00:00,1866.5,22437.2,8301.3,5355.4,4705.3,49.69,30.66,49.69,51.58,0,0,10060.7,6559.5,0.0,22.0,2015-10-01,2015-10-01,3.714,4.909
3,2015-10-01 03:00:00,1660.9,22281.3,8281.3,5355.4,4705.3,49.10,29.14,49.10,49.57,0,0,10060.7,6560.4,0.0,23.0,2015-10-01,2015-10-01,3.714,4.909
4,2015-10-01 04:00:00,1373.9,21909.7,8247.7,5355.4,4705.3,51.25,29.40,51.25,52.00,0,0,10060.7,6724.1,0.0,23.0,2015-10-01,2015-10-01,3.714,4.909

In [35]:
df_esios4.dtypes

datetime                                datetime64[ns]
P48_EOLICA                                     float64
P48_DEMANDA                                    float64
P48_CARBON                                     float64
POT_DISP_HULLA_ANT                             float64
POT_DISP_HULA_SB                               float64
PRECIO_MD_ESP                                  float64
PRECIO_MD_FR                                   float64
PRECIO_I1                                      float64
PRECIO_I2                                      float64
RESERVA                                          int64
ACOPLADO_FR                                      int64
POT_DISP_CARBON                                float64
P48_CARBON_D-1                                 float64
RESERVA_D-1                                    float64
NUM_PLANTAS_D-1                                float64
dia                                             object
datetime_dia                                    object
Reservas embalses anuales (GWh)                float64
Reservas embalses hiperanuales (GWh)           float64
dtype: object

In [36]:
df_esios4.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
count,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26310.000000,26310.000000,26310.000000,26313.000000,26313.000000
mean,5479.129480,28670.071383,4409.781047,4420.301919,4188.459568,48.735421,42.102139,48.460734,48.471242,0.575761,0.247672,8608.761487,4413.362269,0.575181,13.706803,4.627213,4.154708
std,3185.735628,4618.405912,2216.025057,474.019451,469.349569,14.954044,20.796943,15.095798,15.109205,0.494236,0.431669,751.784366,2218.445416,0.494325,6.262792,1.464106,1.303327
min,240.800000,17728.400000,546.000000,2461.500000,2315.100000,2.060000,-31.820000,0.000000,0.000000,0.000000,0.000000,5693.700000,546.000000,0.000000,2.000000,2.222000,2.138000
25%,3018.400000,24730.300000,2316.600000,4125.800000,3797.600000,40.130000,29.740000,40.050000,40.100000,0.000000,0.000000,8120.400000,2317.575000,0.000000,8.000000,3.429000,3.137000
50%,4823.500000,28918.600000,4633.600000,4483.200000,4148.100000,49.540000,39.160000,49.000000,48.950000,1.000000,0.000000,8679.100000,4637.250000,1.000000,15.000000,4.545000,4.266000
75%,7289.700000,32266.700000,6282.100000,4799.700000,4705.300000,59.450000,51.560000,58.890000,58.700000,1.000000,0.000000,9153.600000,6288.950000,1.000000,19.000000,5.726000,5.004000
max,16952.600000,41297.900000,8768.300000,9481.400000,8270.600000,101.990000,874.010000,102.490000,103.610000,1.000000,1.000000,17752.000000,8768.300000,1.000000,25.000000,7.105000,6.472000

Me ha desaparecido el día 30/09/2015 (bien, porque no lo quería en mi dataset)

## 3. Limpieza y parseo de datos

Examino días 25/23 horas y sus siguientes:

In [37]:
dia_25=pd.to_datetime(['2015-10-25','2016-10-30','2017-10-29'],format='%Y-%m-%d %H:%M:%S')
dia_23=pd.to_datetime(['2016-03-27','2017-03-26','2018-03-25'],format='%Y-%m-%d %H:%M:%S')

Defino funcion de checkeo de días

In [38]:
def checkeo_dia(d,df):
    endDate = d + timedelta(days=2) - timedelta(seconds=1)
    return df[(df['datetime']>=d)&(df_esios4['datetime']<=endDate)]

**Días 25h**

Problema: se hayan duplicado mal los valores

In [39]:
dia=checkeo_dia(dia_25[0],df_esios4)
dia[dia.columns[(dia.columns.str.contains("D-1"))|(dia.columns=='datetime')]]

               datetime  P48_CARBON_D-1  RESERVA_D-1  NUM_PLANTAS_D-1
576 2015-10-25 00:00:00          6480.8          0.0             20.0
577 2015-10-25 01:00:00          5470.5          0.0             20.0
578 2015-10-25 02:00:00          5377.1          0.0             20.0
579 2015-10-25 02:00:00          5377.1          0.0             20.0
580 2015-10-25 03:00:00          5092.4          1.0             20.0
581 2015-10-25 04:00:00          5006.4          1.0             20.0
582 2015-10-25 05:00:00          5122.8          1.0             20.0
583 2015-10-25 06:00:00          5790.0          1.0             20.0
584 2015-10-25 07:00:00          6739.9          1.0             20.0
585 2015-10-25 08:00:00          7380.9          0.0             20.0
586 2015-10-25 09:00:00          7361.1          1.0             20.0
587 2015-10-25 10:00:00          7418.0          0.0             20.0
588 2015-10-25 11:00:00          7238.0          0.0             20.0
589 2015-10-25 12:00:00          7319.9          0.0             20.0
590 2015-10-25 13:00:00          7678.0          0.0             20.0
591 2015-10-25 14:00:00          7709.0          0.0             20.0
592 2015-10-25 15:00:00          7528.2          0.0             20.0
593 2015-10-25 16:00:00          7349.5          0.0             20.0
594 2015-10-25 17:00:00          7378.6          0.0             20.0
595 2015-10-25 18:00:00          7374.9          0.0             20.0
596 2015-10-25 19:00:00          7273.0          0.0             20.0
597 2015-10-25 20:00:00          7056.9          0.0             19.0
598 2015-10-25 21:00:00          7016.4          0.0             19.0
599 2015-10-25 22:00:00          6989.5          0.0             19.0
600 2015-10-25 23:00:00          6740.9          0.0             19.0
601 2015-10-26 00:00:00          6074.9          1.0             19.0
602 2015-10-26 01:00:00          5155.5          1.0             19.0
603 2015-10-26 02:00:00          4968.5          1.0             18.0
604 2015-10-26 02:00:00          4968.5          1.0             18.0
605 2015-10-26 02:00:00          4691.2          1.0             18.0
606 2015-10-26 02:00:00          4691.2          1.0             18.0
607 2015-10-26 03:00:00          4766.0          1.0             18.0
608 2015-10-26 04:00:00          4466.9          1.0             18.0
609 2015-10-26 05:00:00          4759.6          1.0             18.0
610 2015-10-26 06:00:00          4907.9          1.0             18.0
611 2015-10-26 07:00:00          4473.1          1.0             18.0
612 2015-10-26 08:00:00          4870.7          1.0             18.0
613 2015-10-26 09:00:00          5386.4          1.0             18.0
614 2015-10-26 10:00:00          5211.1          1.0             18.0
615 2015-10-26 11:00:00          5180.6          1.0             18.0
616 2015-10-26 12:00:00          5746.3          1.0             18.0
617 2015-10-26 13:00:00          5857.9          1.0             18.0
618 2015-10-26 14:00:00          5495.2          1.0             18.0
619 2015-10-26 15:00:00          5266.9          1.0             18.0
620 2015-10-26 16:00:00          5229.8          1.0             18.0
621 2015-10-26 17:00:00          5840.1          1.0             18.0
622 2015-10-26 18:00:00          6414.5          1.0             18.0
623 2015-10-26 19:00:00          6457.5          1.0             18.0
624 2015-10-26 20:00:00          6386.4          1.0             18.0
625 2015-10-26 21:00:00          6169.2          1.0             18.0
626 2015-10-26 22:00:00          6104.0          1.0             18.0
627 2015-10-26 23:00:00          5110.1          1.0             18.0

El día verdadero de 25 horas tan solo ha duplicado el valor de la hora anterior para las columnas recalculadas D-1.

Sin embargo, para el día siguiente aparecen 4 valores (duplicados 2 a 2) cuando en realidad es un día de 24 horas normal.

Viendo filas duplicadas enteras:

In [40]:
dia

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
576,2015-10-25 00:00:00,3974.2,22486.1,6074.9,4740.7,4705.3,46.68,43.45,40.14,41.74,1,0,9446.0,6480.8,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
577,2015-10-25 01:00:00,4342.0,20940.2,5155.5,4740.7,4135.3,40.00,38.00,36.80,31.00,1,0,8876.0,5470.5,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
578,2015-10-25 02:00:00,4646.8,20074.5,4968.5,9481.4,8270.6,38.13,25.07,35.58,34.30,1,0,17752.0,5377.1,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
579,2015-10-25 02:00:00,4941.3,19699.0,4691.2,9481.4,8270.6,38.00,25.02,35.00,35.00,1,0,17752.0,5377.1,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
580,2015-10-25 03:00:00,5078.3,19377.3,4766.0,4740.7,4135.3,35.98,25.84,24.66,28.26,1,0,8876.0,5092.4,1.0,20.0,2015-10-25,2015-10-25,3.714,4.909
581,2015-10-25 04:00:00,4993.2,19045.7,4466.9,4740.7,4135.3,33.00,23.96,25.00,24.66,1,0,8876.0,5006.4,1.0,20.0,2015-10-25,2015-10-25,3.714,4.909
582,2015-10-25 05:00:00,4847.5,19141.2,4759.6,4740.7,4135.3,35.10,26.18,28.08,25.00,1,0,8876.0,5122.8,1.0,20.0,2015-10-25,2015-10-25,3.714,4.909
583,2015-10-25 06:00:00,4622.1,19359.8,4907.9,4740.7,4135.3,35.47,27.35,30.47,25.40,1,0,8876.0,5790.0,1.0,20.0,2015-10-25,2015-10-25,3.714,4.909
584,2015-10-25 07:00:00,4241.6,19515.4,4473.1,4740.7,4135.3,36.10,30.90,29.00,36.50,1,0,8876.0,6739.9,1.0,20.0,2015-10-25,2015-10-25,3.714,4.909
585,2015-10-25 08:00:00,3832.6,20918.0,4870.7,4740.7,4135.3,37.50,33.19,33.00,32.50,1,0,8876.0,7380.9,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
586,2015-10-25 09:00:00,3500.6,22925.8,5386.4,4740.7,4135.3,39.00,34.46,33.10,38.61,1,0,8876.0,7361.1,1.0,20.0,2015-10-25,2015-10-25,3.714,4.909
587,2015-10-25 10:00:00,3222.8,24009.7,5211.1,4740.7,4135.3,46.67,34.25,35.94,45.67,1,0,8876.0,7418.0,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
588,2015-10-25 11:00:00,3046.7,24384.1,5180.6,4740.7,4135.3,46.68,40.74,42.11,44.13,1,0,8876.0,7238.0,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
589,2015-10-25 12:00:00,3023.7,24434.1,5746.3,4740.7,4135.3,46.68,40.23,38.00,46.21,1,0,8876.0,7319.9,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
590,2015-10-25 13:00:00,3007.2,24658.4,5857.9,4740.7,4135.3,47.20,38.05,44.65,47.20,1,0,8876.0,7678.0,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
591,2015-10-25 14:00:00,3028.6,24216.5,5495.2,4634.9,4135.3,46.68,30.61,41.00,45.68,1,0,8770.2,7709.0,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
592,2015-10-25 15:00:00,3209.4,23099.1,5266.9,4474.9,4135.3,46.68,32.07,41.68,45.68,1,0,8610.2,7528.2,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
593,2015-10-25 16:00:00,3397.0,22728.1,5229.8,4447.9,4135.3,46.67,36.20,37.34,44.12,1,0,8583.2,7349.5,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
594,2015-10-25 17:00:00,3589.6,22249.9,5840.1,4447.9,4135.3,47.20,47.20,45.00,48.00,1,1,8583.2,7378.6,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
595,2015-10-25 18:00:00,3797.1,24794.9,6414.5,4447.9,4135.3,53.93,53.93,51.00,52.93,1,1,8583.2,7374.9,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
596,2015-10-25 19:00:00,4060.3,26751.6,6457.5,4447.9,4135.3,53.11,52.89,50.00,52.00,1,0,8583.2,7273.0,0.0,20.0,2015-10-25,2015-10-25,3.714,4.909
597,2015-10-25 20:00:00,4278.5,27357.1,6386.4,4447.9,4135.3,56.80,47.60,52.14,55.33,1,0,8583.2,7056.9,0.0,19.0,2015-10-25,2015-10-25,3.714,4.909
598,2015-10-25 21:00:00,4571.9,26733.4,6169.2,4447.9,4135.3,56.57,41.57,51.67,54.02,1,0,8583.2,7016.4,0.0,19.0,2015-10-25,2015-10-25,3.714,4.909
599,2015-10-25 22:00:00,4786.6,25255.7,6104.0,4447.9,4135.3,50.00,43.05,49.85,51.00,1,0,8583.2,6989.5,0.0,19.0,2015-10-25,2015-10-25,3.714,4.909
600,2015-10-25 23:00:00,5074.2,23598.1,5110.1,4447.9,4135.3,46.67,41.69,38.00,45.67,1,0,8583.2,6740.9,0.0,19.0,2015-10-25,2015-10-25,3.714,4.909
601,2015-10-26 00:00:00,5204.1,21372.1,4339.0,4447.9,4135.3,40.10,40.10,44.00,49.00,0,1,8583.2,6074.9,1.0,19.0,2015-10-26,2015-10-26,3.714,4.909
602,2015-10-26 01:00:00,5181.0,20581.8,4116.7,4447.9,4135.3,36.99,36.99,34.00,46.50,1,1,8583.2,5155.5,1.0,19.0,2015-10-26,2015-10-26,3.714,4.909
603,2015-10-26 02:00:00,5112.2,19865.1,4063.4,4868.2,4135.3,33.64,33.64,27.14,43.39,1,1,9003.5,4968.5,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
604,2015-10-26 02:00:00,5112.2,19865.1,4063.4,4868.2,4135.3,33.64,33.64,27.14,43.39,1,1,9003.5,4968.5,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
605,2015-10-26 02:00:00,5112.2,19865.1,4063.4,4868.2,4135.3,33.64,33.64,27.14,43.39,1,1,9003.5,4691.2,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
606,2015-10-26 02:00:00,5112.2,19865.1,4063.4,4868.2,4135.3,33.64,33.64,27.14,43.39,1,1,9003.5,4691.2,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
607,2015-10-26 03:00:00,4996.9,19670.2,4070.0,5064.0,4135.3,32.99,31.09,25.10,32.99,1,0,9199.3,4766.0,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
608,2015-10-26 04:00:00,5052.0,19988.5,4448.2,5064.0,4135.3,31.73,31.73,26.70,37.23,1,1,9199.3,4466.9,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
609,2015-10-26 05:00:00,4972.3,20778.3,4570.8,5064.0,4135.3,35.10,35.10,30.10,36.00,1,1,9199.3,4759.6,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
610,2015-10-26 06:00:00,4980.4,23558.2,5442.7,5064.0,4135.3,44.02,44.02,44.24,50.50,0,1,9199.3,4907.9,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
611,2015-10-26 07:00:00,4816.1,26789.6,6168.5,5064.0,4135.3,53.10,53.10,54.06,58.10,0,1,9199.3,4473.1,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
612,2015-10-26 08:00:00,4784.6,29222.2,6510.6,5064.0,4052.8,54.60,54.60,54.88,57.01,0,1,9116.8,4870.7,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
613,2015-10-26 09:00:00,4904.0,30917.0,6612.5,5064.0,4052.8,56.25,54.00,54.85,57.00,1,0,9116.8,5386.4,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
614,2015-10-26 10:00:00,5241.4,31367.8,6712.7,5064.0,4052.8,57.01,51.75,56.58,59.03,1,0,9116.8,5211.1,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
615,2015-10-26 11:00:00,5796.0,31587.0,6674.1,5054.0,4135.3,57.65,50.00,57.65,58.38,0,0,9189.3,5180.6,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
616,2015-10-26 12:00:00,6299.5,31746.9,6644.1,5054.0,4135.3,56.69,47.08,56.88,58.18,0,0,9189.3,5746.3,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
617,2015-10-26 13:00:00,6620.1,31568.2,6709.4,5054.0,4135.3,54.60,50.00,56.50,57.33,0,0,9189.3,5857.9,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
618,2015-10-26 14:00:00,6638.4,30176.7,6589.0,5054.0,4135.3,50.44,50.44,54.34,56.00,0,1,9189.3,5495.2,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
619,2015-10-26 15:00:00,7003.4,29739.1,6716.3,5054.0,4135.3,48.37,48.37,52.26,55.40,0,1,9189.3,5266.9,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
620,2015-10-26 16:00:00,6687.6,29438.7,6928.0,5054.0,4135.3,48.59,48.59,50.59,55.40,0,1,9189.3,5229.8,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
621,2015-10-26 17:00:00,6273.9,29595.4,6875.0,5054.0,4135.3,54.10,53.74,54.10,55.40,0,0,9189.3,5840.1,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
622,2015-10-26 18:00:00,5932.7,31474.4,7049.6,5054.0,4135.3,58.81,58.81,58.81,58.60,1,1,9189.3,6414.5,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
623,2015-10-26 19:00:00,5779.3,32572.2,7087.9,5054.0,4135.3,59.76,59.76,59.20,59.16,1,1,9189.3,6457.5,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
624,2015-10-26 20:00:00,5810.8,32798.4,6935.0,5054.0,4135.3,60.01,55.99,59.51,59.21,1,0,9189.3,6386.4,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
625,2015-10-26 21:00:00,6132.7,31255.0,6754.5,5054.0,4135.3,56.80,50.04,56.96,56.15,0,0,9189.3,6169.2,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
626,2015-10-26 22:00:00,6381.1,28155.6,6294.4,5054.0,4135.3,52.51,50.30,55.92,52.40,0,0,9189.3,6104.0,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
627,2015-10-26 23:00:00,6756.6,25359.9,5407.3,5064.0,4135.3,44.47,43.85,44.50,42.25,0,0,9199.3,5110.1,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909

Los datos procedentes de esios (que no han sido manipulados moviéndolos de día) se han cuadruplicado en el dia sig al día de 25 horas.

In [41]:
df_esios4.shape

(26313, 20)

In [42]:
#Los que todas filas duplicadas:
df_esios4[df_esios4.duplicated()]

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
604,2015-10-26 02:00:00,5112.2,19865.1,4063.4,4868.2,4135.3,33.64,33.64,27.14,43.39,1,1,9003.5,4968.5,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
606,2015-10-26 02:00:00,5112.2,19865.1,4063.4,4868.2,4135.3,33.64,33.64,27.14,43.39,1,1,9003.5,4691.2,1.0,18.0,2015-10-26,2015-10-26,3.714,4.909
9511,2016-10-31 02:00:00,1886.6,20104.0,5550.4,3945.9,3573.3,46.35,34.92,44.98,46.32,1,0,7519.2,6062.6,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9513,2016-10-31 02:00:00,1886.6,20104.0,5550.4,3945.9,3573.3,46.35,34.92,44.98,46.32,1,0,7519.2,5887.4,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
18250,2017-10-30 02:00:00,8066.1,20449.2,2256.7,4116.2,3785.1,32.37,32.37,29.37,29.00,1,1,7901.3,2267.7,1.0,10.0,2017-10-30,2017-10-30,2.320,2.388
18252,2017-10-30 02:00:00,8066.1,20449.2,2256.7,4116.2,3785.1,32.37,32.37,29.37,29.00,1,1,7901.3,2247.9,1.0,10.0,2017-10-30,2017-10-30,2.320,2.388

Eliminamos los duplicados y nos quedamos con los primeros

In [43]:
df_esios4.drop_duplicates(keep='first',inplace=True)
df_esios4.shape

(26307, 20)

In [44]:
df_esios4.reset_index(drop=True,inplace=True)

Testeamos como queda ahora:

In [46]:
dia=checkeo_dia(dia_25[2],df_esios4)
dia

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
18218,2017-10-29 00:00:00,7902.9,22611.9,2621.9,3071.7,3227.9,44.19,44.19,39.97,37.27,1,1,6299.6,3618.1,1.0,16.0,2017-10-29,2017-10-29,2.32,2.388
18219,2017-10-29 01:00:00,7713.2,21265.6,2354.4,3071.7,3227.9,42.30,42.30,38.30,34.86,1,1,6299.6,2777.9,1.0,14.0,2017-10-29,2017-10-29,2.32,2.388
18220,2017-10-29 02:00:00,7358.7,20268.2,2267.7,6143.4,6455.8,41.15,15.41,37.66,33.76,1,0,12599.2,2404.2,0.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18221,2017-10-29 02:00:00,7145.0,19681.9,2247.9,6143.4,6455.8,40.90,25.79,36.86,25.00,1,0,12599.2,2404.2,0.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18222,2017-10-29 03:00:00,7255.7,19418.9,2211.9,3071.7,3227.9,40.27,28.31,36.27,30.00,1,0,6299.6,2358.3,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18223,2017-10-29 04:00:00,7148.1,19114.7,2102.9,3071.7,3227.9,39.93,23.19,36.86,30.00,1,0,6299.6,2294.0,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18224,2017-10-29 05:00:00,7174.8,19275.9,2090.9,3071.7,3227.9,39.90,24.24,36.86,30.00,1,0,6299.6,2316.4,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18225,2017-10-29 06:00:00,6995.0,19678.0,2094.2,3071.7,3227.9,40.32,29.52,36.86,30.24,1,0,6299.6,2602.3,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18226,2017-10-29 07:00:00,6720.2,20019.6,2181.7,3071.7,3227.9,41.85,30.31,37.66,34.00,1,0,6299.6,2672.4,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18227,2017-10-29 08:00:00,6457.9,20922.4,2232.9,3071.7,3227.9,43.19,23.27,39.52,34.86,1,0,6299.6,2874.2,0.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18228,2017-10-29 09:00:00,6064.4,22641.8,2330.6,3071.7,3227.9,44.69,30.76,39.97,37.87,1,0,6299.6,3049.4,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18229,2017-10-29 10:00:00,5720.8,23717.8,2431.4,3071.7,3227.9,46.40,41.63,41.76,38.63,1,0,6299.6,3080.5,0.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18230,2017-10-29 11:00:00,5798.7,23860.4,2646.8,3071.7,3227.9,46.93,46.93,43.83,41.93,1,1,6299.6,3132.6,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18231,2017-10-29 12:00:00,5981.0,23868.3,2738.8,3071.7,3227.9,47.31,46.57,44.07,42.31,1,0,6299.6,2986.9,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18232,2017-10-29 13:00:00,6200.6,24507.4,2788.8,3071.7,3227.9,48.45,44.67,45.03,45.03,1,0,6299.6,2890.5,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18233,2017-10-29 14:00:00,6528.9,23971.7,2505.9,3071.7,3227.9,43.07,42.10,40.38,38.07,1,0,6299.6,2780.5,0.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18234,2017-10-29 15:00:00,6844.9,22872.7,2540.4,3071.7,3227.9,41.15,41.15,38.65,38.16,1,1,6299.6,2704.0,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18235,2017-10-29 16:00:00,7102.1,22759.9,2391.9,3071.7,3227.9,38.90,32.83,37.00,33.90,1,0,6299.6,2770.0,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18236,2017-10-29 17:00:00,7626.2,23409.1,3138.0,3071.7,3785.1,47.00,47.00,45.00,45.00,1,1,6856.8,2786.6,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18237,2017-10-29 18:00:00,8092.5,24907.6,3235.6,3419.4,3785.1,59.58,59.58,56.50,57.36,1,1,7204.5,3128.5,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18238,2017-10-29 19:00:00,8519.0,26625.3,3237.6,3419.4,3785.1,63.30,63.30,61.57,61.57,1,1,7204.5,3250.3,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18239,2017-10-29 20:00:00,8842.7,26818.4,3061.1,3419.4,3785.1,63.15,63.15,61.57,61.17,1,1,7204.5,3237.0,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18240,2017-10-29 21:00:00,8939.9,26420.2,2749.0,3419.4,3785.1,60.39,54.72,59.00,59.00,1,0,7204.5,3054.8,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18241,2017-10-29 22:00:00,8698.6,25190.5,2678.5,3419.4,3785.1,57.09,57.09,54.79,54.10,1,1,7204.5,3036.2,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18242,2017-10-29 23:00:00,8324.6,23478.5,2608.7,3419.4,3785.1,48.37,48.37,43.53,43.87,1,1,7204.5,2775.5,1.0,10.0,2017-10-29,2017-10-29,2.32,2.388
18243,2017-10-30 00:00:00,8329.8,21793.3,2310.9,3774.5,3785.1,44.00,44.00,43.00,44.69,1,1,7559.6,2621.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18244,2017-10-30 01:00:00,8162.7,20935.7,2224.6,4116.2,3785.1,37.60,37.60,35.71,31.60,1,1,7901.3,2354.4,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18245,2017-10-30 02:00:00,8066.1,20449.2,2256.7,4116.2,3785.1,32.37,32.37,29.37,29.00,1,1,7901.3,2267.7,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18246,2017-10-30 02:00:00,8066.1,20449.2,2256.7,4116.2,3785.1,32.37,32.37,29.37,29.00,1,1,7901.3,2247.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18247,2017-10-30 03:00:00,7870.8,20235.4,2277.8,4116.2,3785.1,29.36,29.36,25.40,18.00,1,1,7901.3,2211.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18248,2017-10-30 04:00:00,7301.4,20375.7,2298.0,4116.2,3785.1,29.83,29.83,26.83,20.83,1,1,7901.3,2102.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18249,2017-10-30 05:00:00,7411.5,20664.2,2640.6,4116.2,3785.1,33.90,33.90,31.50,30.50,1,1,7901.3,2090.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18250,2017-10-30 06:00:00,7714.4,23667.3,3538.9,3775.6,3785.1,46.70,46.70,42.03,41.70,1,1,7560.7,2094.2,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18251,2017-10-30 07:00:00,7838.6,27439.2,4556.8,3775.6,3785.1,60.54,60.54,58.69,58.54,1,1,7560.7,2181.7,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18252,2017-10-30 08:00:00,7997.3,29251.0,5014.0,4123.0,3785.1,62.16,62.16,61.51,62.16,1,1,7908.1,2232.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18253,2017-10-30 09:00:00,7958.1,30402.0,5521.6,4123.0,3785.1,59.19,59.19,57.21,57.19,1,1,7908.1,2330.6,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18254,2017-10-30 10:00:00,7964.7,30825.5,5567.1,4463.6,3785.1,56.52,56.52,52.14,52.52,1,1,8248.7,2431.4,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18255,2017-10-30 11:00:00,7945.8,31022.6,5618.8,4463.6,3785.1,54.99,54.99,49.67,50.00,1,1,8248.7,2646.8,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18256,2017-10-30 12:00:00,7845.7,31464.4,5536.2,4463.6,3785.1,50.99,50.99,46.00,47.10,1,1,8248.7,2738.8,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18257,2017-10-30 13:00:00,7773.5,31229.8,5566.7,4463.6,3785.1,51.44,51.44,47.44,48.45,1,1,8248.7,2788.8,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18258,2017-10-30 14:00:00,7803.1,30244.0,5435.6,4463.6,3785.1,54.56,54.56,49.60,50.60,1,1,8248.7,2505.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18259,2017-10-30 15:00:00,7948.6,29839.2,5562.8,4463.6,3785.1,54.67,54.67,49.75,50.85,1,1,8248.7,2540.4,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18260,2017-10-30 16:00:00,8080.6,29458.4,6005.0,4463.6,3785.1,56.00,56.00,53.00,54.00,1,1,8248.7,2391.9,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18261,2017-10-30 17:00:00,8039.6,30262.7,6055.4,4205.9,3618.0,60.53,61.12,58.03,58.56,1,0,7823.9,3138.0,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18262,2017-10-30 18:00:00,8214.9,31942.6,5997.7,4205.9,3618.0,62.65,74.28,58.89,59.33,1,0,7823.9,3235.6,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18263,2017-10-30 19:00:00,8485.5,32876.4,6252.7,4463.6,3618.0,65.00,76.94,60.19,61.10,1,0,8081.6,3237.6,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18264,2017-10-30 20:00:00,8563.9,32470.6,5923.5,4463.6,3618.0,63.70,63.70,60.19,60.89,1,1,8081.6,3061.1,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18265,2017-10-30 21:00:00,8812.7,31253.3,5427.6,4463.6,3618.0,56.00,56.00,54.00,56.11,1,1,8081.6,2749.0,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18266,2017-10-30 22:00:00,8435.6,28358.5,5157.8,4463.6,3618.0,50.61,50.61,50.61,51.59,0,1,8081.6,2678.5,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388
18267,2017-10-30 23:00:00,8034.9,25850.5,4697.4,4463.6,3618.0,47.81,47.81,47.92,48.75,0,1,8081.6,2608.7,1.0,10.0,2017-10-30,2017-10-30,2.32,2.388

Para evitar problemas, me voy a cargar todas las fechas duplicadas quedándome exclusivamente con el 1º valor. Dato real tan solo pierdo 1 hora de 8760 horas que tiene el año, ya que los duplicados del día siguiente al dia de 25 horas son falsos:

In [47]:
df_esios4.drop_duplicates(subset='datetime',keep='first',inplace=True)
df_esios4.reset_index(drop=True,inplace=True)
df_esios4.shape

(26301, 20)

Testeamos por última vez dias 25 horas:

In [48]:
dia=checkeo_dia(dia_25[1],df_esios4)
dia

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
9479,2016-10-30 00:00:00,1900.8,22426.8,6091.0,3300.0,3573.3,53.16,53.00,49.16,49.42,1,0,6873.3,6141.8,1.0,20.0,2016-10-30,2016-10-30,3.148,4.491
9480,2016-10-30 01:00:00,1806.8,20972.3,6071.8,3300.0,3573.3,48.49,42.87,46.80,48.49,1,0,6873.3,5991.4,1.0,20.0,2016-10-30,2016-10-30,3.148,4.491
9481,2016-10-30 02:00:00,1754.7,20106.3,6062.6,6600.0,7146.6,49.75,47.93,47.69,48.08,1,0,13746.6,5947.7,1.0,20.0,2016-10-30,2016-10-30,3.148,4.491
9482,2016-10-30 03:00:00,1695.5,19494.3,6054.4,3300.0,3573.3,46.90,31.40,46.04,46.90,1,0,6873.3,5904.8,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9483,2016-10-30 04:00:00,1605.5,19166.5,6000.9,3300.0,3573.3,46.51,31.45,45.68,46.51,1,0,6873.3,5856.5,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9484,2016-10-30 05:00:00,1597.4,19280.2,6188.7,3300.0,3573.3,46.05,32.03,46.04,46.33,1,0,6873.3,5905.1,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9485,2016-10-30 06:00:00,1633.1,19787.7,6167.3,3300.0,3573.3,46.16,38.14,46.10,47.00,1,0,6873.3,5851.2,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9486,2016-10-30 07:00:00,1617.6,20270.5,6146.9,3300.0,3573.3,45.43,39.14,45.41,45.67,1,0,6873.3,6008.1,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9487,2016-10-30 08:00:00,1577.7,21222.8,6113.5,3300.0,3573.3,45.41,35.47,45.41,46.00,0,0,6873.3,5930.3,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9488,2016-10-30 09:00:00,1577.6,23017.8,5982.4,3300.0,3573.3,46.51,41.32,45.41,46.51,1,0,6873.3,6039.9,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9489,2016-10-30 10:00:00,1599.6,23674.9,5807.1,3300.0,3573.3,47.41,36.99,46.76,47.41,1,0,6873.3,6129.9,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9490,2016-10-30 11:00:00,1486.4,23988.8,5573.7,3300.0,3573.3,47.70,38.33,47.33,47.80,1,0,6873.3,6179.9,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9491,2016-10-30 12:00:00,1490.4,24212.2,5575.1,3300.0,3573.3,49.21,37.20,47.80,48.87,1,0,6873.3,6142.9,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9492,2016-10-30 13:00:00,1507.4,24532.3,5627.7,3300.0,3573.3,51.15,33.90,50.18,50.36,1,0,6873.3,6117.9,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9493,2016-10-30 14:00:00,1507.6,23971.8,5643.1,3300.0,3573.3,50.00,32.48,48.98,49.34,1,0,6873.3,6023.0,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9494,2016-10-30 15:00:00,1515.0,22705.0,5359.1,3300.0,3573.3,47.90,33.09,46.65,47.77,1,0,6873.3,5824.1,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9495,2016-10-30 16:00:00,1504.4,22267.5,5442.8,3300.0,3573.3,47.90,34.64,47.40,47.90,1,0,6873.3,5906.0,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9496,2016-10-30 17:00:00,1536.3,22512.1,5771.9,3300.0,3573.3,50.81,49.20,48.50,50.70,1,0,6873.3,6104.7,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9497,2016-10-30 18:00:00,1585.8,24358.7,6164.6,3300.0,3573.3,57.56,57.56,55.56,57.56,1,1,6873.3,6161.0,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9498,2016-10-30 19:00:00,1698.1,26197.0,6118.0,3300.0,3573.3,60.10,56.65,60.10,59.70,1,0,6873.3,6065.0,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9499,2016-10-30 20:00:00,1767.0,26795.4,6185.0,3300.0,3573.3,63.89,51.47,64.32,63.38,0,0,6873.3,6165.0,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9500,2016-10-30 21:00:00,1817.2,26458.0,6169.4,3599.7,3573.3,63.45,39.00,63.89,62.91,0,0,7173.0,6142.9,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9501,2016-10-30 22:00:00,1900.2,24915.4,6157.6,3599.7,3573.3,60.69,43.41,61.34,59.48,0,0,7173.0,6106.0,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9502,2016-10-30 23:00:00,1908.7,23101.6,6074.7,3945.9,3573.3,58.69,40.45,56.94,56.94,1,0,7519.2,6081.7,1.0,19.0,2016-10-30,2016-10-30,3.148,4.491
9503,2016-10-31 00:00:00,1873.3,21653.0,5864.4,3945.9,3573.3,51.69,46.63,46.10,47.60,1,0,7519.2,6091.0,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9504,2016-10-31 01:00:00,1890.3,20566.1,5734.5,3945.9,3573.3,46.90,41.22,46.40,46.90,1,0,7519.2,6071.8,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9505,2016-10-31 02:00:00,1886.6,20104.0,5550.4,3945.9,3573.3,46.35,34.92,44.98,46.32,1,0,7519.2,6062.6,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9506,2016-10-31 03:00:00,1863.0,19550.2,5541.4,3945.9,3573.3,45.68,33.92,45.40,46.00,1,0,7519.2,6054.4,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9507,2016-10-31 04:00:00,1797.7,19251.3,5183.9,3945.9,3341.9,45.43,34.39,45.29,45.43,1,0,7287.8,6000.9,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9508,2016-10-31 05:00:00,1854.8,19920.0,5383.8,3945.9,3221.9,46.05,40.33,46.05,46.43,0,0,7167.8,6188.7,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9509,2016-10-31 06:00:00,1905.3,21699.2,5619.4,3945.9,3221.9,48.49,46.44,47.44,48.04,1,0,7167.8,6167.3,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9510,2016-10-31 07:00:00,2007.6,24258.7,5711.1,3945.9,3221.9,56.07,52.60,55.83,56.76,1,0,7167.8,6146.9,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9511,2016-10-31 08:00:00,2113.7,26014.4,5883.0,3945.9,3221.9,59.69,56.65,59.69,59.98,0,0,7167.8,6113.5,0.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9512,2016-10-31 09:00:00,2189.8,26979.7,6164.0,3945.9,3221.9,56.70,56.70,58.23,58.70,0,1,7167.8,5982.4,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9513,2016-10-31 10:00:00,2210.5,27739.1,6176.0,3945.9,3221.9,55.28,47.98,56.62,56.76,0,0,7167.8,5807.1,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9514,2016-10-31 11:00:00,2266.9,27641.3,6049.1,3945.9,3221.9,54.23,45.52,54.59,54.48,0,0,7167.8,5573.7,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9515,2016-10-31 12:00:00,2305.7,27851.9,6081.0,3945.9,3221.9,55.58,54.20,57.20,56.91,0,0,7167.8,5575.1,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9516,2016-10-31 13:00:00,2353.4,27943.7,6064.0,3945.9,3221.9,55.58,45.30,57.27,56.41,0,0,7167.8,5627.7,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9517,2016-10-31 14:00:00,2381.1,27485.4,5967.4,3945.9,3221.9,54.23,44.05,54.98,54.15,0,0,7167.8,5643.1,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9518,2016-10-31 15:00:00,2433.7,26331.5,5811.0,3945.9,3221.9,53.69,46.48,54.04,53.20,0,0,7167.8,5359.1,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9519,2016-10-31 16:00:00,2553.6,26127.3,5915.0,3945.9,3221.9,53.89,49.73,54.16,53.14,0,0,7167.8,5442.8,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9520,2016-10-31 17:00:00,2730.9,26846.2,6121.0,3945.9,3221.9,59.69,59.69,60.28,59.69,0,1,7167.8,5771.9,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9521,2016-10-31 18:00:00,3016.5,28356.3,6098.0,3945.9,3221.9,63.50,63.50,66.20,66.55,0,1,7167.8,6164.6,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9522,2016-10-31 19:00:00,3239.4,29428.7,6253.3,3945.9,3221.9,63.89,63.89,66.89,66.47,0,1,7167.8,6118.0,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9523,2016-10-31 20:00:00,3440.8,28921.7,6086.7,3945.9,3791.9,61.99,61.99,65.12,62.69,0,1,7737.8,6185.0,0.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9524,2016-10-31 21:00:00,3609.9,28054.0,6137.1,3945.9,3791.9,59.69,52.70,60.28,59.69,0,0,7737.8,6169.4,0.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9525,2016-10-31 22:00:00,3641.9,25427.2,5600.2,3945.9,3791.9,51.57,50.60,52.57,51.60,0,0,7737.8,6157.6,0.0,19.0,2016-10-31,2016-10-31,3.148,4.491
9526,2016-10-31 23:00:00,3641.9,23072.4,4983.7,3945.9,3791.9,45.68,45.47,46.62,45.68,0,0,7737.8,6074.7,1.0,19.0,2016-10-31,2016-10-31,3.148,4.491

**Idem con el de 23 horas**

In [49]:
dia=checkeo_dia(dia_23[1],df_esios4)
dia

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
13007,2017-03-26 00:00:00,5705.2,25389.2,2180.6,4483.2,4002.2,43.60,29.62,43.60,35.11,1,0,8485.4,2457.8,1.0,7.0,2017-03-26,2017-03-26,4.751,3.421
13008,2017-03-26 01:00:00,6019.3,23364.7,1809.0,4483.2,4002.2,36.10,28.09,39.10,35.65,0,0,8485.4,2179.6,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13009,2017-03-26 03:00:00,6221.3,22448.6,1716.0,4483.2,4002.2,33.75,26.97,35.56,35.65,0,0,8485.4,2019.0,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13010,2017-03-26 04:00:00,6263.2,21542.3,1812.0,4483.2,4002.2,33.00,26.62,35.56,35.66,0,0,8485.4,1982.9,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13011,2017-03-26 05:00:00,6262.0,21275.6,1743.3,4483.2,4002.2,32.75,24.65,35.56,35.75,0,0,8485.4,1773.5,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13012,2017-03-26 06:00:00,6317.6,21764.6,1756.6,4483.2,4002.2,33.00,26.87,35.76,38.00,0,0,8485.4,1677.2,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13013,2017-03-26 07:00:00,6399.9,21957.9,1767.6,4483.2,4002.2,33.00,27.67,35.56,38.14,0,0,8485.4,1699.0,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13014,2017-03-26 08:00:00,6652.1,22167.6,1646.2,4483.2,4002.2,33.50,28.43,35.56,38.50,0,0,8485.4,1775.1,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13015,2017-03-26 09:00:00,6834.9,23967.9,1616.6,4483.2,4002.2,33.93,29.05,35.76,37.73,0,0,8485.4,2065.6,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13016,2017-03-26 10:00:00,7072.7,25325.8,1642.7,4483.2,4002.2,35.33,27.45,40.00,40.00,0,0,8485.4,2260.1,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13017,2017-03-26 11:00:00,7478.9,26644.6,1652.2,4483.2,4002.2,35.60,26.52,41.75,41.60,0,0,8485.4,2381.1,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13018,2017-03-26 12:00:00,7814.8,26895.3,1435.3,4483.2,4002.2,35.39,26.94,41.75,37.73,0,0,8485.4,2328.6,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13019,2017-03-26 13:00:00,8360.8,27068.7,1462.0,4483.2,4002.2,34.62,22.68,37.62,34.21,0,0,8485.4,2375.1,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13020,2017-03-26 14:00:00,8873.8,26902.7,1358.0,4483.2,4002.2,34.00,16.17,35.76,30.00,0,0,8485.4,2357.2,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13021,2017-03-26 15:00:00,9095.2,26005.0,1358.0,4483.2,4002.2,32.50,16.97,35.56,32.50,0,0,8485.4,2361.3,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13022,2017-03-26 16:00:00,8826.6,24949.0,1308.0,4483.2,4002.2,29.49,17.65,34.03,29.49,0,0,8485.4,2425.4,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13023,2017-03-26 17:00:00,8284.1,24225.5,1308.0,4483.2,4002.2,27.25,20.24,33.37,26.98,0,0,8485.4,2440.2,0.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13024,2017-03-26 18:00:00,7707.8,24341.0,1269.0,4483.2,4002.2,31.07,31.07,33.07,29.26,0,1,8485.4,2505.0,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13025,2017-03-26 19:00:00,7894.8,25374.6,1272.0,4483.2,4002.2,35.82,35.82,35.82,33.00,1,1,8485.4,2450.8,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13026,2017-03-26 20:00:00,8319.6,28341.3,1387.4,4483.2,4002.2,40.07,40.07,40.80,39.07,0,1,8485.4,2523.3,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13027,2017-03-26 21:00:00,8924.5,30573.0,1725.1,4483.2,4002.2,44.20,39.64,46.02,43.76,0,0,8485.4,2523.3,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13028,2017-03-26 22:00:00,8978.2,29107.2,1441.6,4483.2,4002.2,42.60,38.79,43.75,42.60,0,0,8485.4,2487.5,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13029,2017-03-26 23:00:00,8822.9,27097.9,1389.6,4483.2,4002.2,42.10,38.06,44.00,42.20,0,0,8485.4,2447.4,1.0,6.0,2017-03-26,2017-03-26,4.751,3.421
13030,2017-03-27 00:00:00,8707.6,24883.7,1530.4,4483.2,4002.2,35.93,30.76,37.73,37.93,0,0,8485.4,2180.6,1.0,6.0,2017-03-27,2017-03-27,4.751,3.421
13031,2017-03-27 01:00:00,8453.6,23143.6,1495.7,4483.2,4002.2,32.90,28.63,40.60,38.00,0,0,8485.4,1809.0,0.0,6.0,2017-03-27,2017-03-27,4.751,3.421
13032,2017-03-27 02:00:00,8351.2,22023.8,1431.0,4483.2,4002.2,31.90,28.63,39.60,38.00,0,0,8485.4,NaN,NaN,5.0,2017-03-27,2017-03-27,4.751,3.421
13033,2017-03-27 03:00:00,8111.5,21783.1,1454.5,4483.2,4002.2,31.90,27.62,39.60,38.00,0,0,8485.4,1716.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13034,2017-03-27 04:00:00,7970.6,21932.0,1639.1,4483.2,4002.2,32.20,27.33,38.00,36.20,0,0,8485.4,1812.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13035,2017-03-27 05:00:00,7868.2,22576.8,1889.7,4483.2,4002.2,33.50,30.10,38.00,34.00,0,0,8485.4,1743.3,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13036,2017-03-27 06:00:00,7745.1,25119.2,2260.0,4483.2,4002.2,39.31,39.31,39.31,39.06,1,1,8485.4,1756.6,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13037,2017-03-27 07:00:00,7806.9,29690.8,2873.5,4483.2,4002.2,48.00,48.00,48.00,49.51,0,1,8485.4,1767.6,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13038,2017-03-27 08:00:00,7846.0,32306.5,3535.1,4483.2,4002.2,49.62,48.16,49.87,51.86,0,0,8485.4,1646.2,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13039,2017-03-27 09:00:00,7848.1,33531.9,3817.8,4483.2,4002.2,50.20,40.91,51.03,53.30,0,0,8485.4,1616.6,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13040,2017-03-27 10:00:00,8087.0,34385.1,3942.7,4373.5,4002.2,49.62,36.56,49.62,52.07,0,0,8375.7,1642.7,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13041,2017-03-27 11:00:00,8478.6,34488.4,4139.3,4373.5,4002.2,48.49,33.24,48.49,51.15,0,0,8375.7,1652.2,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13042,2017-03-27 12:00:00,8829.8,34649.8,3912.6,4373.5,3650.8,48.48,30.48,48.57,50.23,0,0,8024.3,1435.3,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13043,2017-03-27 13:00:00,9110.5,33916.2,3707.6,4353.5,3273.3,48.20,29.67,48.88,49.50,0,0,7626.8,1462.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13044,2017-03-27 14:00:00,9136.9,33159.0,3600.6,4353.5,3273.3,48.01,29.11,48.71,49.21,0,0,7626.8,1358.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13045,2017-03-27 15:00:00,8115.4,32108.3,3547.9,4353.5,4002.2,46.11,28.92,46.11,46.11,1,0,8355.7,1358.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13046,2017-03-27 16:00:00,7769.2,31580.6,3346.5,4353.5,4002.2,44.97,29.90,44.97,43.99,1,0,8355.7,1308.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13047,2017-03-27 17:00:00,7131.3,31135.9,3552.5,4353.5,3444.7,45.43,32.35,45.43,45.43,1,0,7798.2,1308.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13048,2017-03-27 18:00:00,6401.4,30689.7,3376.3,4353.5,3444.7,47.23,34.86,47.23,47.23,1,0,7798.2,1269.0,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13049,2017-03-27 19:00:00,5627.0,30842.4,3402.4,4353.5,3444.7,49.51,45.26,49.51,50.63,0,0,7798.2,1272.0,1.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13050,2017-03-27 20:00:00,5077.0,33010.2,3587.6,4383.5,3444.7,55.21,46.27,54.66,54.31,1,0,7828.2,1387.4,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13051,2017-03-27 21:00:00,4584.8,34702.8,3910.0,4383.5,3444.7,56.80,39.98,56.25,55.98,1,0,7828.2,1725.1,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13052,2017-03-27 22:00:00,4569.7,31929.4,3761.1,4383.5,3444.7,52.19,37.94,51.32,51.44,1,0,7828.2,1441.6,0.0,5.0,2017-03-27,2017-03-27,4.751,3.421
13053,2017-03-27 23:00:00,4575.2,29558.9,3982.9,4383.5,3444.7,49.51,32.40,49.51,48.51,1,0,7828.2,1389.6,0.0,NaN,2017-03-27,2017-03-27,4.751,3.421

In [50]:
df_esios4.shape

(26301, 20)

In [51]:
df_esios4.count()

datetime                                26301
P48_EOLICA                              26301
P48_DEMANDA                             26301
P48_CARBON                              26301
POT_DISP_HULLA_ANT                      26301
POT_DISP_HULA_SB                        26301
PRECIO_MD_ESP                           26301
PRECIO_MD_FR                            26301
PRECIO_I1                               26301
PRECIO_I2                               26301
RESERVA                                 26301
ACOPLADO_FR                             26301
POT_DISP_CARBON                         26301
P48_CARBON_D-1                          26298
RESERVA_D-1                             26298
NUM_PLANTAS_D-1                         26298
dia                                     26301
datetime_dia                            26301
Reservas embalses anuales (GWh)         26301
Reservas embalses hiperanuales (GWh)    26301
dtype: int64

Aquí el problema es la aparición de NaN. Además, los datos de 23 horas se trataban diferente en esios y en el fichero de carbones:

* En esios se salta la hora 02:00:00
* En el .csv de carbones tengo hasta la h24

Para solucionar el problema de NaN aplico función *fillna()* y relleno con el dato anterior

In [52]:
df_esios4.fillna(method='ffill',inplace=True)
df_esios4.shape

(26301, 20)

In [53]:
df_esios4[['P48_CARBON_D-1','RESERVA_D-1','NUM_PLANTAS_D-1']].count()

P48_CARBON_D-1     26301
RESERVA_D-1        26301
NUM_PLANTAS_D-1    26301
dtype: int64

In [54]:
dia=checkeo_dia(dia_23[2],df_esios4)
dia

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
21742,2018-03-25 00:00:00,11904.2,27162.7,1484.8,4097.2,4353.1,46.74,46.74,43.54,47.75,1,1,8450.3,1144.1,1.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21743,2018-03-25 01:00:00,11409.6,24877.9,1437.4,4097.2,4353.1,45.00,46.00,38.31,45.00,1,0,8450.3,1239.0,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21744,2018-03-25 03:00:00,10943.7,22989.2,1410.5,4097.2,4353.1,37.85,37.85,33.38,33.39,1,1,8450.3,1502.8,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21745,2018-03-25 04:00:00,10172.6,22356.1,1402.6,4097.2,4353.1,37.28,37.28,34.23,37.78,1,1,8450.3,1448.5,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21746,2018-03-25 05:00:00,9692.4,22181.0,1359.9,4097.2,4353.1,37.24,37.24,34.14,36.24,1,1,8450.3,1513.2,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21747,2018-03-25 06:00:00,9425.0,22418.4,1355.9,4097.2,4353.1,38.00,38.00,34.45,34.46,1,1,8450.3,1455.4,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21748,2018-03-25 07:00:00,9159.9,23287.7,1293.8,4097.2,4353.1,39.60,39.60,36.00,35.59,1,1,8450.3,1464.6,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21749,2018-03-25 08:00:00,9047.1,23149.9,1310.0,4097.2,4353.1,42.23,42.23,38.31,37.73,1,1,8450.3,1245.6,1.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21750,2018-03-25 09:00:00,9117.1,24774.3,1276.0,4097.2,4353.1,45.45,45.45,42.45,40.95,1,1,8450.3,1177.0,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21751,2018-03-25 10:00:00,9139.7,27007.1,1418.2,4097.2,4353.1,46.36,46.36,43.70,43.36,1,1,8450.3,977.0,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21752,2018-03-25 11:00:00,8332.4,28565.7,1375.3,4097.2,4353.1,46.17,46.17,44.65,44.44,1,1,8450.3,1125.8,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21753,2018-03-25 12:00:00,8298.0,29193.2,1511.2,4097.2,4353.1,45.70,45.70,44.18,44.55,1,1,8450.3,1308.0,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21754,2018-03-25 13:00:00,8325.7,29130.5,1403.4,4097.2,4353.1,42.10,42.10,40.60,41.00,1,1,8450.3,1325.0,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21755,2018-03-25 14:00:00,8614.2,28788.2,1484.2,4097.2,4353.1,37.95,37.95,36.50,37.00,1,1,8450.3,1334.0,1.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21756,2018-03-25 15:00:00,8591.9,27602.6,1398.4,4097.2,4353.1,34.90,34.90,33.40,33.41,1,1,8450.3,1104.5,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21757,2018-03-25 16:00:00,8941.0,26624.0,1411.7,4097.2,4353.1,36.00,36.00,34.50,33.51,1,1,8450.3,1027.2,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21758,2018-03-25 17:00:00,9120.8,26255.1,1364.1,4097.2,4353.1,36.86,36.86,35.36,34.36,1,1,8450.3,1067.8,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21759,2018-03-25 18:00:00,8817.3,26471.2,1288.0,4097.2,4353.1,41.38,41.38,38.31,37.38,1,1,8450.3,1039.0,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21760,2018-03-25 19:00:00,8253.5,27548.6,1153.6,4097.2,4353.1,45.16,45.16,42.00,40.16,1,1,8450.3,1251.5,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21761,2018-03-25 20:00:00,7871.5,30617.7,1622.5,4097.2,4353.1,53.12,53.12,50.12,50.46,1,1,8450.3,1549.6,1.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21762,2018-03-25 21:00:00,7338.0,31929.2,1728.5,4097.2,4353.1,54.02,54.02,52.93,52.02,1,1,8450.3,1590.9,1.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21763,2018-03-25 22:00:00,7205.0,30826.4,1571.0,4097.2,4002.3,53.24,53.24,52.90,52.58,1,1,8099.5,1513.0,1.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21764,2018-03-25 23:00:00,7220.4,28822.3,1368.2,4097.2,4002.3,49.39,49.39,49.87,49.98,0,1,8099.5,1268.1,0.0,4.0,2018-03-25,2018-03-25,5.968,3.731
21765,2018-03-26 00:00:00,7481.8,26909.9,1357.1,4097.2,4002.3,44.12,44.12,41.12,38.12,1,1,8099.5,1484.8,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21766,2018-03-26 01:00:00,7703.7,25056.8,1311.6,4097.2,4002.3,39.53,39.53,39.06,37.00,1,1,8099.5,1437.4,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21767,2018-03-26 02:00:00,7769.1,23960.4,1408.0,4097.2,4002.3,38.92,38.92,40.40,38.00,0,1,8099.5,1437.4,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21768,2018-03-26 03:00:00,7779.0,22983.2,1259.2,4097.2,4002.3,38.01,38.01,37.96,37.00,1,1,8099.5,1410.5,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21769,2018-03-26 04:00:00,7752.6,23117.4,1333.0,4097.2,4353.1,37.25,37.25,37.20,37.00,1,1,8450.3,1402.6,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21770,2018-03-26 05:00:00,7840.7,23641.2,1230.3,4097.2,4353.1,40.86,40.86,38.06,39.00,1,1,8450.3,1359.9,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21771,2018-03-26 06:00:00,7874.4,25897.2,1373.8,4097.2,4353.1,52.28,52.28,46.28,47.00,1,1,8450.3,1355.9,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21772,2018-03-26 07:00:00,8057.3,30339.9,1521.0,4097.2,4353.1,61.15,63.03,53.76,51.15,1,0,8450.3,1293.8,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21773,2018-03-26 08:00:00,8122.8,32737.4,1726.0,4097.2,4353.1,60.13,79.47,54.12,49.57,1,0,8450.3,1310.0,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21774,2018-03-26 09:00:00,8155.7,35271.3,1752.9,4097.2,4353.1,60.13,76.61,55.13,50.13,1,0,8450.3,1276.0,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21775,2018-03-26 10:00:00,8154.3,36119.9,1815.6,4097.2,4353.1,55.66,67.98,53.27,48.25,1,0,8450.3,1418.2,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21776,2018-03-26 11:00:00,8367.2,36360.7,1894.6,4097.2,4353.1,54.28,61.49,53.28,52.71,1,0,8450.3,1375.3,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21777,2018-03-26 12:00:00,8406.5,35789.5,1976.6,4097.2,4353.1,53.99,55.65,52.77,52.99,1,0,8450.3,1511.2,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21778,2018-03-26 13:00:00,8615.0,35356.9,1924.1,4097.2,4353.1,52.52,52.52,51.00,51.01,1,1,8450.3,1403.4,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21779,2018-03-26 14:00:00,8978.8,33626.0,1626.6,4097.2,4353.1,48.84,48.84,47.34,48.55,1,1,8450.3,1484.2,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21780,2018-03-26 15:00:00,9319.7,32615.7,1491.3,4097.2,4353.1,45.34,45.34,43.34,45.34,1,1,8450.3,1398.4,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21781,2018-03-26 16:00:00,9705.8,31928.3,1342.8,4097.2,4353.1,44.03,44.03,43.20,43.70,1,1,8450.3,1411.7,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21782,2018-03-26 17:00:00,10067.9,31783.3,1486.3,4097.2,4353.1,45.09,45.09,44.09,46.64,1,1,8450.3,1364.1,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21783,2018-03-26 18:00:00,9752.2,31288.5,1320.7,4097.2,4353.1,50.80,51.76,48.90,49.00,1,0,8450.3,1288.0,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21784,2018-03-26 19:00:00,9337.4,31462.9,1327.5,4097.2,4353.1,53.69,62.49,49.61,48.69,1,0,8450.3,1153.6,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21785,2018-03-26 20:00:00,8713.0,33558.8,1650.4,4097.2,4353.1,61.64,62.41,58.90,53.64,1,0,8450.3,1622.5,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21786,2018-03-26 21:00:00,8263.3,35188.9,1936.4,4097.2,4353.1,62.42,62.42,60.02,55.28,1,1,8450.3,1728.5,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21787,2018-03-26 22:00:00,7788.7,32601.3,1694.9,4097.2,4353.1,54.91,54.91,54.91,53.35,1,1,8450.3,1571.0,1.0,4.0,2018-03-26,2018-03-26,5.968,3.731
21788,2018-03-26 23:00:00,7431.0,29926.1,1472.3,4097.2,4353.1,49.18,49.18,44.68,46.75,1,1,8450.3,1368.2,0.0,4.0,2018-03-26,2018-03-26,5.968,3.731

**Selecciono las columnas definitivas que me interesan y defino 3 features pendientes:**

**- MES:** de 1 a 12

**- PERIODO:**en mercado eléctrico el periodo h se define como el que va desde las h-1:00:00 a las h-1:59:59~h:00:00

**- WEEKDAY:** de 1 a 7

In [64]:
df_esios4['PERIODO']=df_esios4['datetime'].dt.hour+1
df_esios4['MES']=df_esios4['datetime'].dt.month
df_esios4['WD']=df_esios4['datetime'].dt.weekday+1
df_esios4.sample(5)

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh),PERIODO,MES,WD
4370,2016-03-31 03:00:00,8296.0,22568.2,942.5,4375.4,4148.1,21.00,21.11,22.00,25.00,0,0,8523.5,1381.5,1.0,6.0,2016-03-31,2016-03-31,6.134,6.172,4,3,4
4957,2016-04-24 14:00:00,7151.6,24963.2,814.5,2761.2,4354.3,9.44,9.44,10.34,8.94,0,1,7115.5,896.5,1.0,4.0,2016-04-24,2016-04-24,6.841,6.339,15,4,7
22935,2018-05-13 18:00:00,8175.1,22982.4,1267.0,4784.7,3796.7,17.48,17.48,13.37,20.00,1,1,8581.4,1367.0,1.0,6.0,2018-05-13,2018-05-13,7.092,5.004,19,5,7
9952,2016-11-18 17:00:00,4618.3,31764.5,6954.2,4829.4,3573.3,66.30,70.01,69.07,71.30,0,0,8402.7,6409.9,0.0,20.0,2016-11-18,2016-11-18,3.472,4.266,18,11,5
12513,2017-03-05 10:00:00,8719.7,26849.8,1555.0,4483.2,4147.8,35.20,14.30,39.20,40.20,0,0,8631.0,2381.9,0.0,6.0,2017-03-05,2017-03-05,4.751,3.421,11,3,7

In [67]:
df_esios4['PERIODO'].max()

24

In [68]:
df_esios4['MES'].max()

12

In [69]:
df_esios4['WD'].max()

7

## 4. Dataset Final

Seleccionamos las columnas que necesitemos y guardamos en un *data_processed.csv* en la carpeta data_processed.

Vamos a guardar una copia de los datos totales tratados por si tuviésemos que echar mano de ellos, en un fichero *datos_totales.csv* en la carpeta data.

In [72]:
df_esios4.to_csv("../data/datos_totales.csv",sep=";")

In [73]:
df_esios4.columns

Index(['datetime', 'P48_EOLICA', 'P48_DEMANDA', 'P48_CARBON',
       'POT_DISP_HULLA_ANT', 'POT_DISP_HULA_SB', 'PRECIO_MD_ESP',
       'PRECIO_MD_FR', 'PRECIO_I1', 'PRECIO_I2', 'RESERVA', 'ACOPLADO_FR',
       'POT_DISP_CARBON', 'P48_CARBON_D-1', 'RESERVA_D-1', 'NUM_PLANTAS_D-1',
       'dia', 'datetime_dia', 'Reservas embalses anuales (GWh)',
       'Reservas embalses hiperanuales (GWh)', 'PERIODO', 'MES', 'WD'],
      dtype='object')

In [85]:
df=df_esios4[['dia','PERIODO','MES','WD','PRECIO_MD_ESP','ACOPLADO_FR','RESERVA_D-1','P48_EOLICA', 'P48_DEMANDA','POT_DISP_CARBON','P48_CARBON_D-1', 'NUM_PLANTAS_D-1','Reservas embalses anuales (GWh)',
       'Reservas embalses hiperanuales (GWh)','RESERVA']]

In [86]:
#Renombro columnas para que no haya espacios

df.columns=['FECHA','PERIODO','MES','WD','PRECIO_MD_ESP','ACOPLADO_FR','RESERVA_D-1','P48_EOLICA', 'P48_DEMANDA','POT_DISP_CARBON','P48_CARBON_D-1', 'NUM_PLANTAS_D-1','EMB_ANUALES',
       'EMB_HIPERANUALES','RESERVA']
df.head()

,FECHA,PERIODO,MES,WD,PRECIO_MD_ESP,ACOPLADO_FR,RESERVA_D-1,P48_EOLICA,P48_DEMANDA,POT_DISP_CARBON,P48_CARBON_D-1,NUM_PLANTAS_D-1,EMB_ANUALES,EMB_HIPERANUALES,RESERVA
0,2015-10-01,1,10,4,56.65,0,0.0,2196.1,24517.1,10060.7,7181.4,22.0,3.714,4.909,1
1,2015-10-01,2,10,4,53.50,0,0.0,2064.4,23168.6,10060.7,6771.7,22.0,3.714,4.909,0
2,2015-10-01,3,10,4,49.69,0,0.0,1866.5,22437.2,10060.7,6559.5,22.0,3.714,4.909,0
3,2015-10-01,4,10,4,49.10,0,0.0,1660.9,22281.3,10060.7,6560.4,23.0,3.714,4.909,0
4,2015-10-01,5,10,4,51.25,0,0.0,1373.9,21909.7,10060.7,6724.1,23.0,3.714,4.909,0

In [87]:
df.sample(5)

,FECHA,PERIODO,MES,WD,PRECIO_MD_ESP,ACOPLADO_FR,RESERVA_D-1,P48_EOLICA,P48_DEMANDA,POT_DISP_CARBON,P48_CARBON_D-1,NUM_PLANTAS_D-1,EMB_ANUALES,EMB_HIPERANUALES,RESERVA
17753,2017-10-09,20,10,1,65.26,0,0.0,1848.7,30452.2,8196.3,5166.9,15.0,2.320,2.388,1
8174,2016-09-05,16,9,1,47.25,1,0.0,3365.8,38371.0,7809.7,6148.6,20.0,3.765,4.778,1
11954,2017-02-10,4,2,5,45.60,0,1.0,7130.2,24272.8,8264.3,5905.3,21.0,4.613,3.588,0
17240,2017-09-18,11,9,1,51.59,1,1.0,3870.2,31152.8,9235.0,2624.7,10.0,2.576,2.560,1
13709,2017-04-24,8,4,1,55.10,0,1.0,1305.0,25833.4,7580.6,2933.8,10.0,4.709,3.294,1

In [89]:
df.dtypes

FECHA                object
PERIODO               int64
MES                   int64
WD                    int64
PRECIO_MD_ESP       float64
ACOPLADO_FR           int64
RESERVA_D-1         float64
P48_EOLICA          float64
P48_DEMANDA         float64
POT_DISP_CARBON     float64
P48_CARBON_D-1      float64
NUM_PLANTAS_D-1     float64
EMB_ANUALES         float64
EMB_HIPERANUALES    float64
RESERVA               int64
dtype: object

In [92]:
df['RESERVA_D-1']=df['RESERVA_D-1'].apply(lambda x: int(x))
df['NUM_PLANTAS_D-1']=df['NUM_PLANTAS_D-1'].apply(lambda x: int(x))
df['FECHA']=pd.to_datetime(df['FECHA'],format="%Y-%m-%d")

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [94]:
df.dtypes

FECHA               datetime64[ns]
PERIODO                      int64
MES                          int64
WD                           int64
PRECIO_MD_ESP              float64
ACOPLADO_FR                  int64
RESERVA_D-1                  int64
P48_EOLICA                 float64
P48_DEMANDA                float64
POT_DISP_CARBON            float64
P48_CARBON_D-1             float64
NUM_PLANTAS_D-1              int64
EMB_ANUALES                float64
EMB_HIPERANUALES           float64
RESERVA                      int64
dtype: object

In [95]:
df.describe()

,PERIODO,MES,WD,PRECIO_MD_ESP,ACOPLADO_FR,RESERVA_D-1,P48_EOLICA,P48_DEMANDA,POT_DISP_CARBON,P48_CARBON_D-1,NUM_PLANTAS_D-1,EMB_ANUALES,EMB_HIPERANUALES,RESERVA
count,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000,26301.000000
mean,12.501084,6.522300,4.005133,48.740019,0.247557,0.575073,5479.385506,28674.013003,8608.226729,4413.024957,13.704726,4.627927,4.154811,0.575567
std,6.921969,3.449043,1.999432,14.955317,0.431601,0.494341,3186.007150,4615.766551,748.624885,2218.821169,6.263835,1.464006,1.303402,0.494266
min,1.000000,1.000000,1.000000,2.060000,0.000000,0.000000,240.800000,17728.400000,5693.700000,546.000000,2.000000,2.222000,2.138000,0.000000
25%,7.000000,4.000000,2.000000,40.140000,0.000000,0.000000,3018.400000,24735.700000,8120.400000,2317.100000,8.000000,3.429000,3.137000,0.000000
50%,13.000000,7.000000,4.000000,49.550000,0.000000,1.000000,4822.700000,28921.700000,8679.100000,4636.600000,15.000000,4.545000,4.266000,1.000000
75%,19.000000,10.000000,6.000000,59.450000,0.000000,1.000000,7289.700000,32268.100000,9153.600000,6290.700000,19.000000,5.726000,5.004000,1.000000
max,24.000000,12.000000,7.000000,101.990000,1.000000,1.000000,16952.600000,41297.900000,17752.000000,8768.300000,25.000000,7.105000,6.472000,1.000000

In [96]:
df.to_csv("../data_processed/data_processed.csv")