In [1]:
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
import matplotlib.pyplot as plt

import seaborn as sb
%matplotlib inline

In [2]:
pd.options.display.max_columns=None

In [13]:
df_esios=pd.read_csv('../data/datos_esios.csv', sep=';',parse_dates=['datetime'])
df_esios.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42

In [14]:
df_esios.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2
count,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000,26328.000000
mean,5476.657615,28672.335722,4413.087348,4421.192005,4189.052822,48.745913,42.104412,48.474281,48.483520
std,3185.745755,4615.591310,2217.773186,474.661673,469.408867,14.950758,20.792168,15.091625,15.106957
min,240.800000,17728.400000,546.000000,2461.500000,2315.100000,2.060000,-31.820000,0.000000,0.000000
25%,3015.600000,24733.475000,2318.000000,4125.800000,3797.900000,40.140000,29.747500,40.050000,40.100000
50%,4820.250000,28921.700000,4636.800000,4483.200000,4148.100000,49.565000,39.170000,49.000000,48.970000
75%,7285.800000,32265.825000,6286.600000,4799.700000,4705.300000,59.450000,51.560000,58.900000,58.742500
max,16952.600000,41297.900000,8768.300000,9481.400000,8270.600000,101.990000,874.010000,102.490000,103.610000

In [16]:
df_esios.dtypes

datetime              datetime64[ns]
P48_EOLICA                   float64
P48_DEMANDA                  float64
P48_CARBON                   float64
POT_DISP_HULLA_ANT           float64
POT_DISP_HULA_SB             float64
PRECIO_MD_ESP                float64
PRECIO_MD_FR                 float64
PRECIO_I1                    float64
PRECIO_I2                    float64
dtype: object

In [15]:
df_esios['datetime'].describe()  #tenemos repetidos los datos para el dia de 25 horas.

count                   26328
unique                  26325
top       2017-10-29 02:00:00
freq                        2
first     2015-09-30 00:00:00
last      2018-09-30 23:00:00
Name: datetime, dtype: object

El día de 23 horas en el histórico de carbón no tenía dato para el "aaaa-mm-dd 23:00:00.

¿Cómo lo trata esios?

In [17]:
df_esios[(df_esios['datetime']>='2018-03-25') & (df_esios['datetime']<'2018-03-26')]

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2
21769,2018-03-25 00:00:00,11904.2,27162.7,1484.8,4097.2,4353.1,46.74,46.74,43.54,47.75
21770,2018-03-25 01:00:00,11409.6,24877.9,1437.4,4097.2,4353.1,45.00,46.00,38.31,45.00
21771,2018-03-25 03:00:00,10943.7,22989.2,1410.5,4097.2,4353.1,37.85,37.85,33.38,33.39
21772,2018-03-25 04:00:00,10172.6,22356.1,1402.6,4097.2,4353.1,37.28,37.28,34.23,37.78
21773,2018-03-25 05:00:00,9692.4,22181.0,1359.9,4097.2,4353.1,37.24,37.24,34.14,36.24
21774,2018-03-25 06:00:00,9425.0,22418.4,1355.9,4097.2,4353.1,38.00,38.00,34.45,34.46
21775,2018-03-25 07:00:00,9159.9,23287.7,1293.8,4097.2,4353.1,39.60,39.60,36.00,35.59
21776,2018-03-25 08:00:00,9047.1,23149.9,1310.0,4097.2,4353.1,42.23,42.23,38.31,37.73
21777,2018-03-25 09:00:00,9117.1,24774.3,1276.0,4097.2,4353.1,45.45,45.45,42.45,40.95
21778,2018-03-25 10:00:00,9139.7,27007.1,1418.2,4097.2,4353.1,46.36,46.36,43.70,43.36
21779,2018-03-25 11:00:00,8332.4,28565.7,1375.3,4097.2,4353.1,46.17,46.17,44.65,44.44
21780,2018-03-25 12:00:00,8298.0,29193.2,1511.2,4097.2,4353.1,45.70,45.70,44.18,44.55
21781,2018-03-25 13:00:00,8325.7,29130.5,1403.4,4097.2,4353.1,42.10,42.10,40.60,41.00
21782,2018-03-25 14:00:00,8614.2,28788.2,1484.2,4097.2,4353.1,37.95,37.95,36.50,37.00
21783,2018-03-25 15:00:00,8591.9,27602.6,1398.4,4097.2,4353.1,34.90,34.90,33.40,33.41
21784,2018-03-25 16:00:00,8941.0,26624.0,1411.7,4097.2,4353.1,36.00,36.00,34.50,33.51
21785,2018-03-25 17:00:00,9120.8,26255.1,1364.1,4097.2,4353.1,36.86,36.86,35.36,34.36
21786,2018-03-25 18:00:00,8817.3,26471.2,1288.0,4097.2,4353.1,41.38,41.38,38.31,37.38
21787,2018-03-25 19:00:00,8253.5,27548.6,1153.6,4097.2,4353.1,45.16,45.16,42.00,40.16
21788,2018-03-25 20:00:00,7871.5,30617.7,1622.5,4097.2,4353.1,53.12,53.12,50.12,50.46
21789,2018-03-25 21:00:00,7338.0,31929.2,1728.5,4097.2,4353.1,54.02,54.02,52.93,52.02
21790,2018-03-25 22:00:00,7205.0,30826.4,1571.0,4097.2,4002.3,53.24,53.24,52.90,52.58
21791,2018-03-25 23:00:00,7220.4,28822.3,1368.2,4097.2,4002.3,49.39,49.39,49.87,49.98

El día de 23 horas en esios no tiene dato para el "aaaa-mm-dd 02:00:00. Habrá que tenerlo en cuenta al unificar

#### 1) Columna a predecir:

"reservar"

Nuestra clasificación será:

* Si PMI1 > PMD -> 0

* Si PMI1 < PMD -> 1

* Si PMI1 == PMD:

    * Si PMI2 > PMD -> 0
    * Si PMI2 <= PMD -> 1

En la descarga y exploración de datos esios se obtuvo que de los 26.328 datos, hay 3.498 casos en los que el precio del mercado diario coincidió con el del intra, y de esos, 794 horas en las que además el intradiario 2 tampoco subió/bajó con respecto al diario.

In [12]:
df_esios_precio=df_esios[['PRECIO_MD_ESP','PRECIO_I1','PRECIO_I2','PRECIO_MD_FR']]

In [79]:
def reserva(lista):
    if (lista[0]<lista[1]) | ((lista[0]==lista[1]) & (lista[2]>lista[1])):
        reserva=0
    else:
        reserva=1 
    return reserva

In [87]:
df_esios['RESERVA']=pd.Series(df_esios_precio.apply(reserva,axis=1))

In [88]:
df_esios.sample(10)  #comprobamos aleatoriamente que ok

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA
18029,2017-10-20 05:00:00,6060.2,22851.6,4457.2,3493.5,3381.7,46.70,31.01,49.33,49.90,0
14354,2017-05-20 02:00:00,3191.9,22842.3,4798.1,4188.0,4268.2,43.66,25.74,43.16,39.66,1
6228,2016-06-15 12:00:00,8794.5,33711.2,1082.4,4293.6,4135.3,34.07,34.07,38.27,36.57,0
8477,2016-09-17 05:00:00,5631.7,21729.7,2283.0,3993.9,4023.3,36.01,22.91,35.01,35.00,1
12514,2017-03-04 09:00:00,12177.8,28609.1,2202.1,4483.2,4705.3,39.34,39.34,40.30,40.00,0
15001,2017-06-16 01:00:00,6223.4,27967.0,5785.8,4606.3,3092.1,48.99,25.06,47.40,42.72,1
10755,2016-12-21 02:00:00,6485.8,24377.3,7122.5,4779.7,3797.6,50.23,50.23,49.20,49.20,1
25322,2018-08-20 02:00:00,7156.8,22098.4,1712.8,4529.7,4705.3,52.52,44.15,50.84,52.84,1
9049,2016-10-11 01:00:00,2127.8,23098.0,5663.3,3335.8,3233.6,53.58,53.58,54.27,57.08,0
7404,2016-08-03 12:00:00,1015.2,36255.0,6926.1,4829.4,3577.8,48.89,33.57,48.99,48.89,0

#### 2) Interconexión

Creamos columna ACOPLADO_FR:

* Si Precio FR MD == Precio España MD están acoplados (1) si no no (0)*

In [101]:
def interconexion(lista):
    if (lista[0]==lista[3]):
        acoplado=1
    else:
        acoplado=0 
    return acoplado

In [102]:
df_esios['ACOPLADO_FR']=pd.Series(df_esios_precio.apply(interconexion,axis=1))

In [103]:
df_esios.sample(10) #comprobamos aleatoriamente que ok

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR
4543,2016-04-06 07:00:00,6403.9,29540.4,979.1,4034.8,3227.1,32.97,32.97,31.98,31.00,1,1
16922,2017-09-04 02:00:00,4371.8,22482.7,2141.0,4799.7,4135.3,39.10,29.41,40.60,45.00,0,0
21580,2018-03-17 03:00:00,9812.0,23405.3,946.0,4666.7,4353.1,35.55,46.30,40.00,39.73,0,0
5151,2016-05-01 15:00:00,9128.0,22207.2,880.5,3456.3,4354.3,12.40,13.54,12.60,12.40,0,0
3618,2016-02-27 17:00:00,14156.2,29184.5,809.0,4675.1,4147.8,4.00,24.97,5.00,6.50,0,0
9597,2016-11-02 20:00:00,1475.2,33012.1,7058.3,3945.9,4143.3,72.51,80.46,72.51,72.16,1,0
23078,2018-05-18 14:00:00,4121.6,31211.3,2677.1,4529.7,4353.9,59.01,38.09,59.01,59.02,0,0
15238,2017-06-25 22:00:00,4340.2,30294.6,6954.8,4482.0,4147.8,60.15,38.91,58.49,59.69,1,0
9637,2016-11-04 12:00:00,3017.4,32629.5,6622.0,3945.9,4143.3,66.32,72.43,66.32,66.32,1,0
5449,2016-05-14 01:00:00,7200.1,23611.4,596.0,3951.2,3784.3,10.31,13.10,10.56,13.69,0,0

#### 3) MW Carbón disponible

Sumamos la potencia disponible de carbón. Nos interesa el total de MW disponibles.

In [104]:
df_esios['POT_DISP_CARBON']=[x['POT_DISP_HULLA_ANT'] + x['POT_DISP_HULA_SB'] for _,x in df_esios.iterrows()]

In [105]:
df_esios.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7

#### 4) Datos pasados

Necesitamos el carbón casado el día anterior (ya que el carbón que se va a casar ese día no lo conocemos) así que tendremos que sumar 1 día a la fecha para la columna P48_CARBON, creando la columna adicional P48_CARBON_D-1

Aprovechamos esta operación para crear la columna RESULTADO D-1 que es la columna reserva del día anterior.

In [107]:
df_esios_ant= df_esios[['datetime','P48_CARBON','RESERVA']].copy()
df_esios_ant.head()

             datetime  P48_CARBON  RESERVA
0 2015-09-30 00:00:00      7181.4        0
1 2015-09-30 01:00:00      6771.7        0
2 2015-09-30 02:00:00      6559.5        0
3 2015-09-30 03:00:00      6560.4        0
4 2015-09-30 04:00:00      6724.1        0

In [108]:
df_esios_ant.dtypes

datetime      datetime64[ns]
P48_CARBON           float64
RESERVA                int64
dtype: object

In [111]:
dia=timedelta(days=1) 

df_esios_ant['datetime']=pd.Series([x + dia for x in df_esios_ant['datetime']])
df_esios_ant.tail()

                 datetime  P48_CARBON  RESERVA
26323 2018-10-01 19:00:00      4861.1        0
26324 2018-10-01 20:00:00      4782.9        0
26325 2018-10-01 21:00:00      4826.0        0
26326 2018-10-01 22:00:00      4169.8        1
26327 2018-10-01 23:00:00      3775.5        1

In [112]:
df_esios_ant.head()

             datetime  P48_CARBON  RESERVA
0 2015-10-01 00:00:00      7181.4        0
1 2015-10-01 01:00:00      6771.7        0
2 2015-10-01 02:00:00      6559.5        0
3 2015-10-01 03:00:00      6560.4        0
4 2015-10-01 04:00:00      6724.1        0

In [114]:
#Renombramos columnas

df_esios_ant.columns=['datetime','P48_CARBON_D-1','RESERVA_D-1']

In [115]:
df_esios_ant.head()

             datetime  P48_CARBON_D-1  RESERVA_D-1
0 2015-10-01 00:00:00          7181.4            0
1 2015-10-01 01:00:00          6771.7            0
2 2015-10-01 02:00:00          6559.5            0
3 2015-10-01 03:00:00          6560.4            0
4 2015-10-01 04:00:00          6724.1            0

In [149]:
df_esios_ant.dtypes

datetime          datetime64[ns]
P48_CARBON_D-1           float64
RESERVA_D-1                int64
dtype: object

In [150]:
df_esios2=df_esios.merge(df_esios_ant,how='left',on='datetime')
df_esios2.head(48)

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7,NaN,NaN
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7,NaN,NaN
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7,NaN,NaN
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7,NaN,NaN
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7,NaN,NaN
5,2015-09-30 05:00:00,2777.9,22370.5,7174.6,5355.4,4705.3,45.65,30.55,50.65,50.65,0,0,10060.7,NaN,NaN
6,2015-09-30 06:00:00,2522.1,24532.6,7955.3,5355.4,4705.3,52.00,42.93,56.13,54.31,0,0,10060.7,NaN,NaN
7,2015-09-30 07:00:00,2303.5,27986.9,8281.3,5355.4,4705.3,59.90,53.78,62.00,62.40,0,0,10060.7,NaN,NaN
8,2015-09-30 08:00:00,2141.9,29690.2,8304.3,5355.4,4705.3,60.01,55.50,61.71,62.51,0,0,10060.7,NaN,NaN
9,2015-09-30 09:00:00,1980.8,30192.1,8263.3,5355.4,4705.3,60.60,49.27,62.86,63.03,0,0,10060.7,NaN,NaN
10,2015-09-30 10:00:00,1877.2,30715.9,8063.3,5355.4,4705.3,60.01,45.51,60.14,60.59,0,0,10060.7,NaN,NaN
11,2015-09-30 11:00:00,1832.2,31121.8,8274.3,5355.4,4705.3,59.10,43.22,59.10,59.69,0,0,10060.7,NaN,NaN
12,2015-09-30 12:00:00,1944.6,31407.3,7935.3,5355.4,4705.3,58.90,43.63,58.90,59.09,0,0,10060.7,NaN,NaN
13,2015-09-30 13:00:00,2126.1,31400.4,8037.3,5355.4,4705.3,59.99,38.28,59.99,59.99,1,0,10060.7,NaN,NaN
14,2015-09-30 14:00:00,2394.0,30196.3,8278.3,5355.4,4705.3,57.00,38.25,57.00,57.80,0,0,10060.7,NaN,NaN
15,2015-09-30 15:00:00,2418.5,29667.8,8259.7,5355.4,4705.3,56.57,34.14,56.80,56.80,0,0,10060.7,NaN,NaN
16,2015-09-30 16:00:00,2507.1,29445.0,8083.3,5355.4,4705.3,57.00,33.89,58.65,59.31,0,0,10060.7,NaN,NaN
17,2015-09-30 17:00:00,2486.2,29636.8,8237.3,5355.4,4705.3,58.90,43.01,60.01,60.52,0,0,10060.7,NaN,NaN
18,2015-09-30 18:00:00,2358.1,29376.0,8297.3,5355.4,4705.3,59.31,50.00,60.53,60.48,0,0,10060.7,NaN,NaN
19,2015-09-30 19:00:00,2303.3,29704.5,8347.0,5355.4,4705.3,59.10,58.00,59.10,60.28,0,0,10060.7,NaN,NaN
20,2015-09-30 20:00:00,2262.0,32132.5,8299.6,5355.4,4705.3,64.11,51.39,63.11,64.11,1,0,10060.7,NaN,NaN
21,2015-09-30 21:00:00,2077.8,31941.3,8352.3,5355.4,4705.3,68.48,46.79,66.43,66.48,1,0,10060.7,NaN,NaN
22,2015-09-30 22:00:00,2197.6,28663.7,8300.3,5355.4,4705.3,58.90,43.94,59.58,59.58,0,0,10060.7,NaN,NaN
23,2015-09-30 23:00:00,2253.1,26220.8,8265.3,5355.4,4705.3,58.90,41.43,60.01,60.52,0,0,10060.7,NaN,NaN
24,2015-10-01 00:00:00,2196.1,24517.1,8203.3,5355.4,4705.3,56.65,38.56,56.31,58.30,1,0,10060.7,7181.4,0.0
25,2015-10-01 01:00:00,2064.4,23168.6,8286.8,5355.4,4705.3,53.50,31.27,54.25,56.60,0,0,10060.7,6771.7,0.0
26,2015-10-01 02:00:00,1866.5,22437.2,8301.3,5355.4,4705.3,49.69,30.66,49.69,51.58,0,0,10060.7,6559.5,0.0
27,2015-10-01 03:00:00,1660.9,22281.3,8281.3,5355.4,4705.3,49.10,29.14,49.10,49.57,0,0,10060.7,6560.4,0.0
28,2015-10-01 04:00:00,1373.9,21909.7,8247.7,5355.4,4705.3,51.25,29.40,51.25,52.00,0,0,10060.7,6724.1,0.0
29,2015-10-01 05:00:00,1327.0,22183.9,8223.3,5355.4,4705.3,53.60,32.87,53.74,54.09,0,0,10060.7,7174.6,0.0
30,2015-10-01 06:00:00,1347.4,24139.8,8014.0,5355.4,4705.3,58.02,44.97,58.02,58.52,0,0,10060.7,7955.3,0.0
31,2015-10-01 07:00:00,1363.3,28141.4,8102.1,5355.4,4705.3,63.03,56.00,62.82,63.03,1,0,10060.7,8281.3,0.0
32,2015-10-01 08:00:00,1364.5,29311.3,8079.3,5355.4,4705.3,63.56,59.06,63.56,63.56,1,0,10060.7,8304.3,0.0
33,2015-10-01 09:00:00,1278.9,29899.4,8282.3,5355.4,4705.3,64.66,49.02,64.66,64.66,1,0,10060.7,8263.3,0.0
34,2015-10-01 10:00:00,1162.9,30370.7,7825.3,5355.4,4705.3,63.90,43.15,63.40,62.90,1,0,10060.7,8063.3,0.0
35,2015-10-01 11:00:00,1145.1,30767.9,8121.9,5355.4,4705.3,61.90,41.73,62.22,61.90,0,0,10060.7,8274.3,0.0
36,2015-10-01 12:00:00,1402.0,31452.4,8112.3,5355.4,4705.3,60.90,43.93,62.00,60.90,0,0,10060.7,7935.3,0.0
37,2015-10-01 13:00:00,1948.7,31464.0,8326.1,5355.4,4705.3,59.80,39.21,61.33,59.80,0,0,10060.7,8037.3,1.0
38,2015-10-01 14:00:00,2593.9,30205.9,8191.3,5355.4,4705.3,56.80,34.28,58.00,56.80,0,0,10060.7,8278.3,0.0
39,2015-10-01 15:00:00,3245.2,29999.4,8311.5,5355.4,4705.3,53.60,34.51,55.00,53.60,0,0,10060.7,8259.7,0.0
40,2015-10-01 16:00:00,3658.4,29814.9,8415.3,5355.4,4705.3,53.50,36.38,55.00,53.30,0,0,10060.7,8083.3,0.0
41,2015-10-01 17:00:00,3903.7,30029.1,8295.8,5355.4,4570.3,54.90,44.48,55.90,54.90,0,0,9925.7,8237.3,0.0
42,2015-10-01 18:00:00,3966.8,29785.5,7339.6,5065.4,4570.3,55.26,51.57,56.00,55.06,0,0,9635.7,8297.3,0.0
43,2015-10-01 19:00:00,3928.2,30157.7,7220.3,5065.4,4705.3,61.00,61.00,62.22,61.02,0,1,9770.7,8347.0,0.0
44,2015-10-01 20:00:00,3792.4,32257.8,7754.9,5065.4,4705.3,61.69,55.00,63.40,63.00,0,0,9770.7,8299.6,1.0
45,2015-10-01 21:00:00,3672.3,32103.4,7948.0,5065.4,4705.3,61.00,44.95,63.00,62.36,0,0,9770.7,8352.3,1.0
46,2015-10-01 22:00:00,3462.3,28472.9,7883.3,5065.4,4705.3,56.80,43.03,57.80,56.80,0,0,9770.7,8300.3,0.0
47,2015-10-01 23:00:00,3163.7,26178.8,7919.3,5065.4,4705.3,53.00,41.79,53.71,53.00,0,0,9770.7,8265.3,0.0

Esperamos a unir todos los datos para comenzar con el tratamiento de duplicados, NaN etc.

#### 5) Num centrales en D-1

Está guardado en el fichero .csv *carbon_dia_ant.csv* en la carpeta data.

Cuando se descargaron del csv original (P48) que contenía el número de centrales por día, se transformó a un nuevo fichero *carbón_dia_ant.csv* (en la misma carpeta) en el que se muestra el número de centrales arrancadas el día anterior. Para ello se programó el notebook carbón_D-1.ypynb

El periodo ya está adaptado a la fecha inicial y final de nuestro conjunto

In [118]:
df_centrales_carbon=pd.read_csv('../data/carbon_dia_ant.csv', sep=';',parse_dates=['datetime'])
df_centrales_carbon.head()

             datetime  NUM_PLANTAS_D-1
0 2015-10-01 00:00:00               22
1 2015-10-01 01:00:00               22
2 2015-10-01 02:00:00               22
3 2015-10-01 03:00:00               23
4 2015-10-01 04:00:00               23

In [119]:
df_centrales_carbon.tail()

                 datetime  NUM_PLANTAS_D-1
26299 2018-09-30 19:00:00               17
26300 2018-09-30 20:00:00               17
26301 2018-09-30 21:00:00               17
26302 2018-09-30 22:00:00               17
26303 2018-09-30 23:00:00               17

In [120]:
df_centrales_carbon.dtypes

datetime           datetime64[ns]
NUM_PLANTAS_D-1             int64
dtype: object

In [121]:
df_esios3=df_esios2.merge(df_centrales_carbon,how='left',on='datetime')
df_esios3.head(35)

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7,NaN,NaN,NaN
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7,NaN,NaN,NaN
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7,NaN,NaN,NaN
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7,NaN,NaN,NaN
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7,NaN,NaN,NaN
5,2015-09-30 05:00:00,2777.9,22370.5,7174.6,5355.4,4705.3,45.65,30.55,50.65,50.65,0,0,10060.7,NaN,NaN,NaN
6,2015-09-30 06:00:00,2522.1,24532.6,7955.3,5355.4,4705.3,52.00,42.93,56.13,54.31,0,0,10060.7,NaN,NaN,NaN
7,2015-09-30 07:00:00,2303.5,27986.9,8281.3,5355.4,4705.3,59.90,53.78,62.00,62.40,0,0,10060.7,NaN,NaN,NaN
8,2015-09-30 08:00:00,2141.9,29690.2,8304.3,5355.4,4705.3,60.01,55.50,61.71,62.51,0,0,10060.7,NaN,NaN,NaN
9,2015-09-30 09:00:00,1980.8,30192.1,8263.3,5355.4,4705.3,60.60,49.27,62.86,63.03,0,0,10060.7,NaN,NaN,NaN
10,2015-09-30 10:00:00,1877.2,30715.9,8063.3,5355.4,4705.3,60.01,45.51,60.14,60.59,0,0,10060.7,NaN,NaN,NaN
11,2015-09-30 11:00:00,1832.2,31121.8,8274.3,5355.4,4705.3,59.10,43.22,59.10,59.69,0,0,10060.7,NaN,NaN,NaN
12,2015-09-30 12:00:00,1944.6,31407.3,7935.3,5355.4,4705.3,58.90,43.63,58.90,59.09,0,0,10060.7,NaN,NaN,NaN
13,2015-09-30 13:00:00,2126.1,31400.4,8037.3,5355.4,4705.3,59.99,38.28,59.99,59.99,1,0,10060.7,NaN,NaN,NaN
14,2015-09-30 14:00:00,2394.0,30196.3,8278.3,5355.4,4705.3,57.00,38.25,57.00,57.80,0,0,10060.7,NaN,NaN,NaN
15,2015-09-30 15:00:00,2418.5,29667.8,8259.7,5355.4,4705.3,56.57,34.14,56.80,56.80,0,0,10060.7,NaN,NaN,NaN
16,2015-09-30 16:00:00,2507.1,29445.0,8083.3,5355.4,4705.3,57.00,33.89,58.65,59.31,0,0,10060.7,NaN,NaN,NaN
17,2015-09-30 17:00:00,2486.2,29636.8,8237.3,5355.4,4705.3,58.90,43.01,60.01,60.52,0,0,10060.7,NaN,NaN,NaN
18,2015-09-30 18:00:00,2358.1,29376.0,8297.3,5355.4,4705.3,59.31,50.00,60.53,60.48,0,0,10060.7,NaN,NaN,NaN
19,2015-09-30 19:00:00,2303.3,29704.5,8347.0,5355.4,4705.3,59.10,58.00,59.10,60.28,0,0,10060.7,NaN,NaN,NaN
20,2015-09-30 20:00:00,2262.0,32132.5,8299.6,5355.4,4705.3,64.11,51.39,63.11,64.11,1,0,10060.7,NaN,NaN,NaN
21,2015-09-30 21:00:00,2077.8,31941.3,8352.3,5355.4,4705.3,68.48,46.79,66.43,66.48,1,0,10060.7,NaN,NaN,NaN
22,2015-09-30 22:00:00,2197.6,28663.7,8300.3,5355.4,4705.3,58.90,43.94,59.58,59.58,0,0,10060.7,NaN,NaN,NaN
23,2015-09-30 23:00:00,2253.1,26220.8,8265.3,5355.4,4705.3,58.90,41.43,60.01,60.52,0,0,10060.7,NaN,NaN,NaN
24,2015-10-01 00:00:00,2196.1,24517.1,8203.3,5355.4,4705.3,56.65,38.56,56.31,58.30,1,0,10060.7,7181.4,0.0,22.0
25,2015-10-01 01:00:00,2064.4,23168.6,8286.8,5355.4,4705.3,53.50,31.27,54.25,56.60,0,0,10060.7,6771.7,0.0,22.0
26,2015-10-01 02:00:00,1866.5,22437.2,8301.3,5355.4,4705.3,49.69,30.66,49.69,51.58,0,0,10060.7,6559.5,0.0,22.0
27,2015-10-01 03:00:00,1660.9,22281.3,8281.3,5355.4,4705.3,49.10,29.14,49.10,49.57,0,0,10060.7,6560.4,0.0,23.0
28,2015-10-01 04:00:00,1373.9,21909.7,8247.7,5355.4,4705.3,51.25,29.40,51.25,52.00,0,0,10060.7,6724.1,0.0,23.0
29,2015-10-01 05:00:00,1327.0,22183.9,8223.3,5355.4,4705.3,53.60,32.87,53.74,54.09,0,0,10060.7,7174.6,0.0,23.0
30,2015-10-01 06:00:00,1347.4,24139.8,8014.0,5355.4,4705.3,58.02,44.97,58.02,58.52,0,0,10060.7,7955.3,0.0,23.0
31,2015-10-01 07:00:00,1363.3,28141.4,8102.1,5355.4,4705.3,63.03,56.00,62.82,63.03,1,0,10060.7,8281.3,0.0,23.0
32,2015-10-01 08:00:00,1364.5,29311.3,8079.3,5355.4,4705.3,63.56,59.06,63.56,63.56,1,0,10060.7,8304.3,0.0,23.0
33,2015-10-01 09:00:00,1278.9,29899.4,8282.3,5355.4,4705.3,64.66,49.02,64.66,64.66,1,0,10060.7,8263.3,0.0,23.0
34,2015-10-01 10:00:00,1162.9,30370.7,7825.3,5355.4,4705.3,63.90,43.15,63.40,62.90,1,0,10060.7,8063.3,0.0,23.0

In [122]:
df_esios3.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1
count,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26337.000000,26310.000000,26310.000000,26310.000000
mean,5476.502122,28669.419820,4412.931435,4421.154042,4188.930546,48.742054,42.101521,48.469277,48.480474,0.575350,0.247447,8610.084588,4413.362269,0.575181,13.706803
std,3185.554082,4617.498898,2217.550000,474.642811,469.394799,14.950116,20.789213,15.092187,15.105922,0.494299,0.431537,752.717789,2218.445416,0.494325,6.262792
min,240.800000,17728.400000,546.000000,2461.500000,2315.100000,2.060000,-31.820000,0.000000,0.000000,0.000000,0.000000,5693.700000,546.000000,0.000000,2.000000
25%,3015.300000,24730.200000,2318.000000,4125.800000,3797.900000,40.140000,29.750000,40.050000,40.100000,0.000000,0.000000,8120.400000,2317.575000,0.000000,8.000000
50%,4820.500000,28919.100000,4636.400000,4483.200000,4148.100000,49.550000,39.160000,49.000000,48.960000,1.000000,0.000000,8679.100000,4637.250000,1.000000,15.000000
75%,7286.100000,32265.500000,6286.100000,4799.700000,4705.300000,59.450000,51.550000,58.900000,58.740000,1.000000,0.000000,9153.600000,6288.950000,1.000000,19.000000
max,16952.600000,41297.900000,8768.300000,9481.400000,8270.600000,101.990000,874.010000,102.490000,103.610000,1.000000,1.000000,17752.000000,8768.300000,1.000000,25.000000

In [151]:
df_esios3.shape

(26337, 17)

#### 6) Hidraulicidad

Agregamos columna de reservas (Anuales e Hiperanuales) disponible en el fichero *embalses_dia.csv*, que es un tratamiento de los datos descargados directamente de REE (*EMBALSES.csv*): https://www.ree.es/es/estadisticas-del-sistema-electrico-espanol/series-estadisticas/series-estadisticas-nacionales gracias al notebook embalses.ipynb.

Los datos son diarios. Para convertirlos a horarios asumimos el mismo valor en todos los periodos de un día, igual que se hizo para pasar de mensual a diario.

In [152]:
df_embalses=pd.read_csv('../data/embalses_dia.csv', sep=';')
df_embalses.head()

,datetime,mes_ano,MES,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
0,2015-10-01,10-15,oct-15,3.714,4.909
1,2015-10-02,10-15,oct-15,3.714,4.909
2,2015-10-03,10-15,oct-15,3.714,4.909
3,2015-10-04,10-15,oct-15,3.714,4.909
4,2015-10-05,10-15,oct-15,3.714,4.909

In [153]:
#Nos quedamos solo con las columnas datetime y Reservas

df_embalses_subset=df_embalses[['datetime','Reservas embalses anuales (GWh)','Reservas embalses hiperanuales (GWh)']]

In [154]:
df_esios3['dia']=list(map(lambda x: x.strftime('%Y-%m-%d'), df_esios3['datetime']))
df_esios3.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia
0,2015-09-30 00:00:00,4727.7,24595.3,7181.4,5355.4,4705.3,48.20,38.51,54.13,56.80,0,0,10060.7,NaN,NaN,NaN,2015-09-30
1,2015-09-30 01:00:00,4389.9,23083.0,6771.7,5355.4,4705.3,45.65,29.76,50.70,56.13,0,0,10060.7,NaN,NaN,NaN,2015-09-30
2,2015-09-30 02:00:00,3889.6,22504.4,6559.5,5355.4,4705.3,45.35,28.01,50.35,53.96,0,0,10060.7,NaN,NaN,NaN,2015-09-30
3,2015-09-30 03:00:00,3498.3,22297.5,6560.4,5355.4,4705.3,45.29,27.38,50.29,51.01,0,0,10060.7,NaN,NaN,NaN,2015-09-30
4,2015-09-30 04:00:00,3032.9,22038.9,6724.1,5355.4,4705.3,45.42,27.00,49.88,50.42,0,0,10060.7,NaN,NaN,NaN,2015-09-30

In [155]:
df_esios4=df_esios3.merge(df_embalses_subset,left_on='dia',right_on='datetime',suffixes=['','_dia'])

In [156]:
#comprobamos salto de mes
df_esios4.iloc[743:753]

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
743,2015-10-31 19:00:00,4394.5,28080.5,6068.5,5064.0,4705.3,56.92,49.35,56.92,57.64,0,0,9769.3,5825.6,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
744,2015-10-31 20:00:00,4389.7,28260.3,5851.5,5064.0,4705.3,58.81,44.03,59.81,59.95,0,0,9769.3,5833.1,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
745,2015-10-31 21:00:00,4285.4,27275.2,5869.5,5064.0,4705.3,57.97,39.71,57.65,57.15,1,0,9769.3,5609.4,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
746,2015-10-31 22:00:00,4442.3,25307.1,5631.5,5064.0,4705.3,56.10,41.00,54.98,53.60,1,0,9769.3,5007.5,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
747,2015-10-31 23:00:00,4744.1,23570.7,5348.5,5064.0,4705.3,56.02,37.15,54.78,52.28,1,0,9769.3,3963.5,0.0,15.0,2015-10-31,2015-10-31,3.714,4.909
748,2015-11-01 00:00:00,4733.5,21945.0,4191.3,5064.0,4705.3,53.21,30.86,48.21,47.11,1,0,9769.3,3826.7,0.0,15.0,2015-11-01,2015-11-01,3.936,4.809
749,2015-11-01 01:00:00,5227.1,20708.7,3115.9,5064.0,4705.3,36.10,28.93,35.60,42.10,1,0,9769.3,3367.5,1.0,15.0,2015-11-01,2015-11-01,3.936,4.809
750,2015-11-01 02:00:00,5630.5,19664.8,2623.0,5064.0,4705.3,34.00,27.30,31.00,38.15,1,0,9769.3,3512.5,0.0,15.0,2015-11-01,2015-11-01,3.936,4.809
751,2015-11-01 03:00:00,6055.2,19140.6,2416.4,5064.0,4705.3,31.00,24.48,25.00,31.00,1,0,9769.3,3542.5,1.0,15.0,2015-11-01,2015-11-01,3.936,4.809
752,2015-11-01 04:00:00,6278.0,18914.6,2315.0,5064.0,4705.3,25.17,25.17,22.17,26.68,1,1,9769.3,3698.5,0.0,15.0,2015-11-01,2015-11-01,3.936,4.809

In [161]:
df_esios4.head()

,datetime,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,dia,datetime_dia,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
0,2015-10-01 00:00:00,2196.1,24517.1,8203.3,5355.4,4705.3,56.65,38.56,56.31,58.30,1,0,10060.7,7181.4,0.0,22.0,2015-10-01,2015-10-01,3.714,4.909
1,2015-10-01 01:00:00,2064.4,23168.6,8286.8,5355.4,4705.3,53.50,31.27,54.25,56.60,0,0,10060.7,6771.7,0.0,22.0,2015-10-01,2015-10-01,3.714,4.909
2,2015-10-01 02:00:00,1866.5,22437.2,8301.3,5355.4,4705.3,49.69,30.66,49.69,51.58,0,0,10060.7,6559.5,0.0,22.0,2015-10-01,2015-10-01,3.714,4.909
3,2015-10-01 03:00:00,1660.9,22281.3,8281.3,5355.4,4705.3,49.10,29.14,49.10,49.57,0,0,10060.7,6560.4,0.0,23.0,2015-10-01,2015-10-01,3.714,4.909
4,2015-10-01 04:00:00,1373.9,21909.7,8247.7,5355.4,4705.3,51.25,29.40,51.25,52.00,0,0,10060.7,6724.1,0.0,23.0,2015-10-01,2015-10-01,3.714,4.909

In [157]:
df_esios4.dtypes

datetime                                datetime64[ns]
P48_EOLICA                                     float64
P48_DEMANDA                                    float64
P48_CARBON                                     float64
POT_DISP_HULLA_ANT                             float64
POT_DISP_HULA_SB                               float64
PRECIO_MD_ESP                                  float64
PRECIO_MD_FR                                   float64
PRECIO_I1                                      float64
PRECIO_I2                                      float64
RESERVA                                          int64
ACOPLADO_FR                                      int64
POT_DISP_CARBON                                float64
P48_CARBON_D-1                                 float64
RESERVA_D-1                                    float64
NUM_PLANTAS_D-1                                float64
dia                                             object
datetime_dia                                    object
Reservas embalses anuales (GWh)                float64
Reservas embalses hiperanuales (GWh)           float64
dtype: object

In [160]:
df_esios4.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1,PRECIO_I2,RESERVA,ACOPLADO_FR,POT_DISP_CARBON,P48_CARBON_D-1,RESERVA_D-1,NUM_PLANTAS_D-1,Reservas embalses anuales (GWh),Reservas embalses hiperanuales (GWh)
count,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26313.000000,26310.000000,26310.000000,26310.000000,26313.000000,26313.000000
mean,5479.129480,28670.071383,4409.781047,4420.301919,4188.459568,48.735421,42.102139,48.460734,48.471242,0.575761,0.247672,8608.761487,4413.362269,0.575181,13.706803,4.627213,4.154708
std,3185.735628,4618.405912,2216.025057,474.019451,469.349569,14.954044,20.796943,15.095798,15.109205,0.494236,0.431669,751.784366,2218.445416,0.494325,6.262792,1.464106,1.303327
min,240.800000,17728.400000,546.000000,2461.500000,2315.100000,2.060000,-31.820000,0.000000,0.000000,0.000000,0.000000,5693.700000,546.000000,0.000000,2.000000,2.222000,2.138000
25%,3018.400000,24730.300000,2316.600000,4125.800000,3797.600000,40.130000,29.740000,40.050000,40.100000,0.000000,0.000000,8120.400000,2317.575000,0.000000,8.000000,3.429000,3.137000
50%,4823.500000,28918.600000,4633.600000,4483.200000,4148.100000,49.540000,39.160000,49.000000,48.950000,1.000000,0.000000,8679.100000,4637.250000,1.000000,15.000000,4.545000,4.266000
75%,7289.700000,32266.700000,6282.100000,4799.700000,4705.300000,59.450000,51.560000,58.890000,58.700000,1.000000,0.000000,9153.600000,6288.950000,1.000000,19.000000,5.726000,5.004000
max,16952.600000,41297.900000,8768.300000,9481.400000,8270.600000,101.990000,874.010000,102.490000,103.610000,1.000000,1.000000,17752.000000,8768.300000,1.000000,25.000000,7.105000,6.472000

In [159]:
#Añadir columna hora, mes, dia_semana
#comprobamos 25-23 horas descuadrados