# Descarga datos esios

## Documentacion:

La nueva web pública de e·sios pone a disposición de todos los usuarios una API para la descarga de información, cuya documentación se encuentra disponible en https://api.esios.ree.es.

Para poder utilizar esta API deberán solicitar un token personal enviando un correo a **consultasios@ree.es**.En mi caso:

token: 9d6bcd627698602fbcd18721cca88b90d0f6e6025963f86be84fa18c87801a10

En nuestro caso, la solicitud de datos será para un periodo de tiempo solicitando los datos por código indicador:

https://api.esios.ree.es/indicator/getting_a_specific_indicator_filtering_values_by_a_date_range

## 1. Importamos librerías necesarias

In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [77]:
pd.options.display.max_columns= None

In [78]:
requests.get?

Signature: requests.get(url, params=None, **kwargs)
Docstring:
Sends a GET request.

:param url: URL for the new :class:`Request` object.
:param params: (optional) Dictionary or bytes to be sent in the query string for the :class:`Request`.
:param \*\*kwargs: Optional arguments that ``request`` takes.
:return: :class:`Response <Response>` object
:rtype: requests.Response
File:      /anaconda3/lib/python3.6/site-packages/requests/api.py
Type:      function

## 2. Definición features

Creamos diccionario

In [79]:
d={10010: 'P48_EOLICA',
   10027: 'P48_DEMANDA',
   10008: 'P48_CARBON',
   475: 'POT_DISP_HULLA_ANT',  #Los tendremos que sumar para obtener MW disponibles Carbón
   476: 'POT_DISP_HULA_SB',
   600: [['PRECIO_MD_ESP',3],['PRECIO_MD_FR',2]],
   612: [['PRECIO_I1',3]]
  }

In [80]:
d.items()

dict_items([(10010, 'P48_EOLICA'), (10027, 'P48_DEMANDA'), (10008, 'P48_CARBON'), (475, 'POT_DISP_HULLA_ANT'), (476, 'POT_DISP_HULA_SB'), (600, [['PRECIO_MD_ESP', 3], ['PRECIO_MD_FR', 2]]), (612, [['PRECIO_I1', 3]])])

En el caso del id_precios habrá que adentrarse un nivel adicional y consultar GEOIDS:

* ESPAÑA = 3
* FRANCIA = 2

## 3. Funciones solicitud datos

Función para obtener los datos del indicador *ind* solicitado entre dos fechas dadas.

En nuestro dataset se nos presentan 2 peculiaridades a introducir en la función:

1) Existe un único indicador para los precios de cada mercado, diferenciándose el pais por el parámetro GEOIDS --> **solicita_datos_precios**

2) Los datos de potencia disponible hay que agregarlos porque viene desglosada en comunidades --> **solicita datos disponibles**

In [81]:
def solicita_datos_general(fecha_ini,fecha_fin,ind):

    headers_={'Accept': 'application/json; application/vnd.esios-api-v1+json',
              'Content-Type': 'application/json',
              'Host': 'api.esios.ree.es',
              'Authorization': 'Token token="9d6bcd627698602fbcd18721cca88b90d0f6e6025963f86be84fa18c87801a10"',
              'Cookie':''
             }

    query_parametros_={'start_date': fecha_ini,
                'end_date':fecha_fin}

    url_='https://api.esios.ree.es/indicators/' + str(ind)
    
    #Hacemos peticion:
    r = requests.get(url_,headers=headers_,params=query_parametros_)
    
    #Comprobamos que trae datos
    assert r.status_code==200
    
    #r.content --> durante el diseño para explorar datos
    
    data=json.loads(r.content)
    
    #type(data)
    #data['indicator']['values'] --> durante el diseño para explorar datos
    
    df_data=pd.DataFrame(data['indicator']['values'])
    
    #df_data.dtypes --> Tenemos que convertir las fechas a formato fecha
    #y crear nuestro df
    
    df=pd.DataFrame()        
    df['datetime']=pd.to_datetime([f[:10] + ' ' + f[11:13] + ':00:00' for f in df_data['datetime']]) 
    df['value']=df_data['value']
    if (ind==475) | (ind==476):
        df=df.groupby('datetime')['value'].sum()
        df=pd.DataFrame(df)
    else:
        df=df.set_index('datetime')

    return df

In [82]:
def solicita_datos_precios(fecha_ini,fecha_fin,ind,lista):
   
    headers_={'Accept': 'application/json; application/vnd.esios-api-v1+json',
              'Content-Type': 'application/json',
              'Host': 'api.esios.ree.es',
              'Authorization': 'Token token="9d6bcd627698602fbcd18721cca88b90d0f6e6025963f86be84fa18c87801a10"',
              'Cookie':''
             }
 
    query_parametros_={'start_date': fecha_ini,
                       'end_date': fecha_fin}
 
    url_='https://api.esios.ree.es/indicators/'+ str(ind)
 
    #Hacemos peticion:
    r = requests.get(url_,headers=headers_,params=query_parametros_)
 
    #Comprobamos que trae datos
    assert r.status_code==200
 
    data=json.loads(r.content)
 
    data['indicator']['values']
 
    df_data=pd.DataFrame(data['indicator']['values'])
 
    df=pd.DataFrame()
    for i in enumerate(lista):
        df_subset=pd.DataFrame()
        df_data_subset=df_data[df_data['geo_id']==i[1][1]]
        df_data_subset.reset_index(drop=True,inplace=True)
        df_subset['datetime']=pd.to_datetime([f[:10] + ' ' + f[11:13] + ':00:00' for f in df_data_subset['datetime']])
        df_subset[str(i[1][0])]=df_data_subset['value']
        df_subset.set_index('datetime',inplace=True)
        df=pd.concat([df,df_subset],axis=1)
    return df

## 4. Agregación dataset

In [86]:
datos_esios=pd.DataFrame()  #será nuestro set de datos

fecha_ini_='2015-10-01 00:00:00'
fecha_fin_='2018-09-30 23:59:59'

Definimos parámetros de entrada:

La idea inicial es que mi dataset empiece en 01/10/2015 hasta 30/09/2018.

He escogido 3 años móviles, teniendo en cuenta que el año hidráulico comienza el octubre (y la hidraulicidad es importante en el Mercado eléctrico) e intentar evitar el efecto de cambios regulatorios en la mayor medida posible

In [87]:
for k,v in d.items():
    if (k==600) | (k==612):
        historico=solicita_datos_precios(fecha_ini_,fecha_fin_,k,v)
    else:    
        historico=solicita_datos_general(fecha_ini_,fecha_fin_,k)
        historico.columns=[str(v)]
    datos_esios=pd.concat([datos_esios,historico],axis=1)

In [88]:
datos_esios

,P48_EOLICA,P48_DEMANDA,P48_CARBON,POT_DISP_HULLA_ANT,POT_DISP_HULA_SB,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1
datetime,,,,,,,,
2015-10-01 00:00:00,2196.1,24517.1,8203.3,5355.4,4705.3,56.65,38.56,56.31
2015-10-01 01:00:00,2064.4,23168.6,8286.8,5355.4,4705.3,53.50,31.27,54.25
2015-10-01 02:00:00,1866.5,22437.2,8301.3,5355.4,4705.3,49.69,30.66,49.69
2015-10-01 03:00:00,1660.9,22281.3,8281.3,5355.4,4705.3,49.10,29.14,49.10
2015-10-01 04:00:00,1373.9,21909.7,8247.7,5355.4,4705.3,51.25,29.40,51.25
2015-10-01 05:00:00,1327.0,22183.9,8223.3,5355.4,4705.3,53.60,32.87,53.74
2015-10-01 06:00:00,1347.4,24139.8,8014.0,5355.4,4705.3,58.02,44.97,58.02
2015-10-01 07:00:00,1363.3,28141.4,8102.1,5355.4,4705.3,63.03,56.00,62.82
2015-10-01 08:00:00,1364.5,29311.3,8079.3,5355.4,4705.3,63.56,59.06,63.56
2015-10-01 09:00:00,1278.9,29899.4,8282.3,5355.4,4705.3,64.66,49.02,64.66
2015-10-01 10:00:00,1162.9,30370.7,7825.3,5355.4,4705.3,63.90,43.15,63.40
2015-10-01 11:00:00,1145.1,30767.9,8121.9,5355.4,4705.3,61.90,41.73,62.22
2015-10-01 12:00:00,1402.0,31452.4,8112.3,5355.4,4705.3,60.90,43.93,62.00
2015-10-01 13:00:00,1948.7,31464.0,8326.1,5355.4,4705.3,59.80,39.21,61.33
2015-10-01 14:00:00,2593.9,30205.9,8191.3,5355.4,4705.3,56.80,34.28,58.00
2015-10-01 15:00:00,3245.2,29999.4,8311.5,5355.4,4705.3,53.60,34.51,55.00
2015-10-01 16:00:00,3658.4,29814.9,8415.3,5355.4,4705.3,53.50,36.38,55.00
2015-10-01 17:00:00,3903.7,30029.1,8295.8,5355.4,4570.3,54.90,44.48,55.90
2015-10-01 18:00:00,3966.8,29785.5,7339.6,5065.4,4570.3,55.26,51.57,56.00
2015-10-01 19:00:00,3928.2,30157.7,7220.3,5065.4,4705.3,61.00,61.00,62.22
2015-10-01 20:00:00,3792.4,32257.8,7754.9,5065.4,4705.3,61.69,55.00,63.40
2015-10-01 21:00:00,3672.3,32103.4,7948.0,5065.4,4705.3,61.00,44.95,63.00
2015-10-01 22:00:00,3462.3,28472.9,7883.3,5065.4,4705.3,56.80,43.03,57.80
2015-10-01 23:00:00,3163.7,26178.8,7919.3,5065.4,4705.3,53.00,41.79,53.71
2015-10-02 00:00:00,2861.0,24738.7,7725.2,5065.4,4705.3,58.81,43.45,57.61
2015-10-02 01:00:00,2541.5,23410.2,7469.3,5065.4,4705.3,56.60,40.51,54.60
2015-10-02 02:00:00,2379.2,22538.6,7409.8,5065.4,4705.3,53.65,38.27,48.00
2015-10-02 03:00:00,2245.4,22107.1,7201.9,5065.4,4705.3,52.01,31.39,47.01
2015-10-02 04:00:00,2264.2,22033.3,7307.7,5065.4,4705.3,50.00,31.54,47.00
2015-10-02 05:00:00,2137.0,22467.8,7451.7,5065.4,4705.3,53.65,37.20,48.65
...,...,...,...,...,...,...,...,...
2018-09-29 18:00:00,3511.8,26839.3,5182.5,4423.6,4705.3,70.01,70.01,69.31
2018-09-29 19:00:00,4065.5,26958.5,5868.1,4423.6,4705.3,75.46,75.46,75.46
2018-09-29 20:00:00,4049.5,28502.4,6027.6,4423.6,4705.3,77.49,77.49,77.01
2018-09-29 21:00:00,3727.1,28964.1,5981.6,4423.6,4705.3,76.30,68.88,76.30
2018-09-29 22:00:00,3467.2,26740.3,5693.0,4423.6,4705.3,74.33,69.26,73.33
2018-09-29 23:00:00,3197.8,25477.1,5699.6,4423.6,4705.3,74.21,65.69,74.21
2018-09-30 00:00:00,2786.6,23731.5,5488.4,4488.3,4705.3,73.03,62.86,70.67
2018-09-30 01:00:00,2347.5,22406.1,5048.9,4488.3,4705.3,73.37,57.20,70.37
2018-09-30 02:00:00,2092.1,21342.6,4464.3,4188.6,4705.3,69.65,54.87,65.65
2018-09-30 03:00:00,1895.0,20955.2,4222.3,4188.6,4705.3,67.01,49.66,63.01
2018-09-30 04:00:00,1697.7,20619.9,3954.3,4188.6,4705.3,65.10,42.54,61.84
2018-09-30 05:00:00,1618.1,20378.7,3876.2,4188.6,4705.3,64.40,43.41,60.40
2018-09-30 06:00:00,1538.4,20810.9,4127.9,4188.6,4705.3,66.19,48.33,62.88
2018-09-30 07:00:00,1377.4,21218.4,4426.5,4188.6,4705.3,69.68,46.79,65.00
2018-09-30 08:00:00,1276.2,21377.4,4398.6,4188.6,4705.3,69.50,54.41,64.60
2018-09-30 09:00:00,1095.9,22947.5,4667.5,4188.6,4705.3,73.69,49.80,69.69
2018-09-30 10:00:00,906.3,24529.5,4778.9,4188.6,4705.3,73.03,54.44,70.53
2018-09-30 11:00:00,849.2,25195.8,4786.4,4188.6,4705.3,70.67,56.44,69.55
2018-09-30 12:00:00,960.7,25954.2,4838.7,4188.6,4705.3,72.14,59.72,72.14
2018-09-30 13:00:00,1241.6,26546.3,4802.0,4188.6,4705.3,73.03,59.69,74.51
2018-09-30 14:00:00,1667.4,26522.6,4741.2,4188.6,4705.3,72.31,41.45,72.31
2018-09-30 15:00:00,2154.6,25735.5,4669.1,3840.9,4705.3,67.00,45.34,64.03
2018-09-30 16:00:00,2786.3,24814.3,4085.9,3840.9,4705.3,61.87,48.25,61.87
2018-09-30 17:00:00,3558.6,24518.6,3655.5,3840.9,4705.3,61.03,55.80,61.03
2018-09-30 18:00:00,4407.3,24750.0,4279.1,3840.9,4705.3,64.62,64.62,64.62
2018-09-30 19:00:00,5054.1,25366.8,4861.1,3840.9,4705.3,74.21,74.21,76.56
2018-09-30 20:00:00,5513.3,27511.2,4782.9,3840.9,4705.3,74.39,74.39,77.39
2018-09-30 21:00:00,6069.3,28381.2,4826.0,3840.9,4705.3,74.27,65.31,76.77
2018-09-30 22:00:00,6347.7,26746.2,4169.8,3840.9,4705.3,69.50,67.19,68.84
2018-09-30 23:00:00,6618.7,25187.9,3775.5,3840.9,4705.3,61.19,61.19,60.17

## 5. Check datos

In [27]:
datos_esios.describe()

,P48_EOLICA,P48_DEMANDA,P48_CARBON,PRECIO_MD_ESP,PRECIO_MD_FR,PRECIO_I1
count,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,3142.968750,25155.120833,5015.925000,69.637708,57.886250,69.936250
std,1504.425027,2608.289459,680.723847,4.644057,8.929302,5.788725
min,849.200000,20378.700000,3655.500000,61.030000,41.450000,60.170000
25%,2042.825000,22960.625000,4541.025000,65.100000,51.735000,64.615000
50%,2858.000000,25281.300000,4914.050000,70.340000,57.295000,70.285000
75%,4097.125000,26973.300000,5692.550000,73.445000,63.562500,75.032500
max,6618.700000,29449.000000,6027.600000,77.490000,77.490000,78.690000

In [28]:
datos_esios.shape  #para testear que no tengo NA

(48, 6)

## 6. Salvar datos